## IMPORTO LIBRERIAS

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (2.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.1.0)
Requirement already satisfied: pandas>=1.2 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (2.1.0)
Requirement already satisfied: packaging>=20.0 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\bianc\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\bianc\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

### 1- Importar Librerias

In [9]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib as plt

### 2 - Carga de archivos

In [6]:
CommonPlayer=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\common_player_info.csv')
BorradorDeEstadsticasCombinadas=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\draft_combine_stats.csv')
BorradorDeHistoria=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\draft_history.csv')
InformacionDelJuego=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\game_info.csv')
ResumendelJuego=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\game_summary.csv')
Juego=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\game.csv')
JugadoresInactivos=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\inactive_players.csv')
PuntuacionDeLinea=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\line_score.csv')
Oficiales=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\officials.csv')
OtrasEstadisticas=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\other_stats.csv')
JuegoPorJuego=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\play_by_play.csv')
Jugador=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\player.csv')
DetallesDelEquipo=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\team_details.csv')
HistoriaDelEquipo=pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\team_history.csv')

#### 3. Verificación de cantidad de registros

In [11]:
CommonPlayer.shape

(4171, 33)

In [6]:
BorradorDeHistoria.shape

(7990, 14)

In [7]:
InformacionDelJuego.shape

(58053, 4)

In [8]:
ResumendelJuego.shape

(58110, 14)

In [9]:
Juego.shape

(65698, 55)

In [10]:
JugadoresInactivos.shape

(110191, 9)

In [11]:
PuntuacionDeLinea.shape

(58053, 43)

In [12]:
Oficiales.shape

(70971, 5)

In [13]:
OtrasEstadisticas.shape

(28271, 26)

In [14]:
JuegoPorJuego.shape

(13592899, 34)

In [15]:
Jugador.shape

(4831, 5)

In [16]:
DetallesDelEquipo.shape

(25, 14)

In [17]:
HistoriaDelEquipo.shape

(52, 5)

#### 4. Verificación de valores nulos

In [13]:
CommonPlayer.isnull().sum()

person_id                             0
first_name                            0
last_name                             0
display_first_last                    0
display_last_comma_first              0
display_fi_last                       0
player_slug                           0
birthdate                             0
school                                0
country                               0
last_affiliation                      0
height                                0
weight                                0
season_exp                            0
jersey                                0
position                              0
rosterstatus                          0
games_played_current_season_flag      0
team_id                               0
team_name                             0
team_abbreviation                     0
team_code                           702
team_city                             0
playercode                            1
from_year                             0
to_year                               0
dleague_flag                          0
nba_flag                              0
games_played_flag                     0
draft_year                            0
draft_round                           0
draft_number                          0
greatest_75_flag                      0
dtype: int64

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [20]:
BorradorDeEstadsticasCombinadas.isnull().sum()

season                             0
player_id                          0
first_name                         0
last_name                          0
player_name                        0
position                           5
height_wo_shoes                   49
height_wo_shoes_ft_in             49
height_w_shoes                   194
height_w_shoes_ft_in             194
weight                            50
wingspan                          49
wingspan_ft_in                    49
standing_reach                    50
standing_reach_ft_in              50
body_fat_pct                     199
hand_length                      483
hand_width                       483
standing_vertical_leap           185
max_vertical_leap                185
lane_agility_time                194
modified_lane_agility_time       791
three_quarter_sprint             190
bench_press                      394
spot_fifteen_corner_left        1128
spot_fifteen_break_left         1126
spot_fifteen_top_key            1126
spot_fifteen_break_right        1126
spot_fifteen_corner_right       1126
spot_college_corner_left         957
spot_college_break_left         1036
spot_college_top_key            1036
spot_college_break_right        1036
spot_college_corner_right       1036
spot_nba_corner_left             985
spot_nba_break_left              985
spot_nba_top_key                 985
spot_nba_break_right             985
spot_nba_corner_right            985
off_drib_fifteen_break_left     1036
off_drib_fifteen_top_key        1036
off_drib_fifteen_break_right    1036
off_drib_college_break_left     1092
off_drib_college_top_key        1171
off_drib_college_break_right    1171
on_move_fifteen                 1054
on_move_college                 1086
dtype: int64

In [21]:
BorradorDeHistoria.isnull().sum()

person_id               0
player_name             0
season                  0
round_number            0
round_pick              0
overall_pick            0
draft_type              0
team_id                 0
team_city               0
team_name               0
team_abbreviation       0
organization           19
organization_type      19
player_profile_flag     0
dtype: int64

In [22]:
InformacionDelJuego.isnull().sum()

game_id           0
game_date         0
attendance     5380
game_time     28111
dtype: int64

In [23]:
ResumendelJuego.isnull().sum()

game_date_est                           0
game_sequence                       25532
game_id                                 0
game_status_id                          0
game_status_text                    25986
gamecode                                0
home_team_id                            0
visitor_team_id                         0
season                                  0
live_period                             0
live_pc_time                        56086
natl_tv_broadcaster_abbreviation    51907
live_period_time_bcast                  0
wh_status                               0
dtype: int64

In [24]:
Juego.isnull().sum()

season_id                     0
team_id_home                  0
team_abbreviation_home        0
team_name_home                0
game_id                       0
game_date                     0
matchup_home                  0
wl_home                       2
min                           0
fgm_home                     13
fga_home                  15447
fg_pct_home               15490
fg3m_home                 13218
fg3a_home                 18683
fg3_pct_home              19074
ftm_home                     16
fta_home                   3004
ft_pct_home                3009
oreb_home                 18936
dreb_home                 18999
reb_home                  15729
ast_home                  15805
stl_home                  18849
blk_home                  18626
tov_home                  18684
pf_home                    2856
pts_home                      0
plus_minus_home               0
video_available_home          0
team_id_away                  0
team_abbreviation_away        0
team_name_away                0
matchup_away                  0
wl_away                       2
fgm_away                     13
fga_away                  15447
fg_pct_away               15489
fg3m_away                 13218
fg3a_away                 18683
fg3_pct_away              18962
ftm_away                     13
fta_away                   3004
ft_pct_away                3006
oreb_away                 18936
dreb_away                 18998
reb_away                  15725
ast_away                  15801
stl_away                  18849
blk_away                  18625
tov_away                  18685
pf_away                    2851
pts_away                      0
plus_minus_away               0
video_available_away          0
season_type                   0
dtype: int64

In [25]:
JugadoresInactivos.isnull().sum()

game_id               0
player_id             0
first_name            1
last_name             1
jersey_num           43
team_id               0
team_city             0
team_name             0
team_abbreviation     0
dtype: int64

In [26]:
PuntuacionDeLinea.isnull().sum()

game_date_est                 0
game_sequence             25532
game_id                       0
team_id_home                  0
team_abbreviation_home        0
team_city_name_home           0
team_nickname_home            0
team_wins_losses_home         0
pts_qtr1_home              1004
pts_qtr2_home              1013
pts_qtr3_home              1045
pts_qtr4_home              1044
pts_ot1_home              25759
pts_ot2_home              27051
pts_ot3_home              27243
pts_ot4_home              27270
pts_ot5_home              45577
pts_ot6_home              45578
pts_ot7_home              45578
pts_ot8_home              45578
pts_ot9_home              45578
pts_ot10_home             45578
pts_home                      0
team_id_away                  0
team_abbreviation_away        0
team_city_name_away           0
team_nickname_away            0
team_wins_losses_away         0
pts_qtr1_away              1010
pts_qtr2_away              1013
pts_qtr3_away              1046
pts_qtr4_away              1046
pts_ot1_away              25759
pts_ot2_away              27051
pts_ot3_away              27243
pts_ot4_away              27270
pts_ot5_away              45577
pts_ot6_away              45578
pts_ot7_away              45578
pts_ot8_away              45578
pts_ot9_away              45578
pts_ot10_away             45578
pts_away                      0
dtype: int64

In [27]:
Oficiales.isnull().sum()

game_id          0
official_id      0
first_name       0
last_name        0
jersey_num     190
dtype: int64

In [28]:
OtrasEstadisticas.isnull().sum()

game_id                      0
league_id                    0
team_id_home                 0
team_abbreviation_home       0
team_city_home               0
pts_paint_home               0
pts_2nd_chance_home          0
pts_fb_home                  0
largest_lead_home            0
lead_changes                 0
times_tied                   0
team_turnovers_home          2
total_turnovers_home       316
team_rebounds_home        1998
pts_off_to_home           2123
team_id_away                 0
team_abbreviation_away       0
team_city_away               0
pts_paint_away               0
pts_2nd_chance_away          0
pts_fb_away                  0
largest_lead_away            0
team_turnovers_away          2
total_turnovers_away       316
team_rebounds_away        1998
pts_off_to_away           2123
dtype: int64

In [29]:
JuegoPorJuego.isnull().sum()

game_id                             0
eventnum                            0
eventmsgtype                        0
eventmsgactiontype                  0
period                              0
wctimestring                      950
pctimestring                        0
homedescription               6530241
neutraldescription           13273327
visitordescription            6634527
score                        10028436
scoremargin                  10028436
person1type                      3298
player1_id                          0
player1_name                  1208875
player1_team_id               1215858
player1_team_city             1215858
player1_team_nickname         1215858
player1_team_abbreviation     1215858
person2type                         0
player2_id                          0
player2_name                  9683745
player2_team_id               9660454
player2_team_city             9660454
player2_team_nickname         9660454
player2_team_abbreviation     9660454
person3type                         0
player3_id                          0
player3_name                 13251785
player3_team_id              13246931
player3_team_city            13246931
player3_team_nickname        13246931
player3_team_abbreviation    13246931
video_available_flag                0
dtype: int64

In [30]:
Jugador.isnull().sum()

id            0
full_name     0
first_name    6
last_name     0
is_active     0
dtype: int64

In [31]:
DetallesDelEquipo.isnull().sum()

team_id               0
abbreviation          0
nickname              0
yearfounded           0
city                  0
arena                 0
arenacapacity         9
owner                 0
generalmanager        0
headcoach             1
dleagueaffiliation    0
facebook              0
instagram             0
twitter               0
dtype: int64

In [32]:
HistoriaDelEquipo.isnull().sum()

team_id             0
city                0
nickname            0
year_founded        0
year_active_till    0
dtype: int64

#### Tratamiento de Valores Nulos

In [8]:
import numpy as np

# Convertir altura en formato 'pies-pulgadas' a pulgadas
def convertir_altura_a_pulgadas(altura):
    try:
        pies, pulgadas = altura.split('-')
        return int(pies) * 12 + int(pulgadas)
    except:
        return np.nan  # Devolver NaN si no se puede convertir

# Aplicar la conversión a la columna 'height'
CommonPlayer['height'] = CommonPlayer['height'].apply(convertir_altura_a_pulgadas)

# Ahora que la columna es numérica, podemos llenar los valores nulos con la mediana
CommonPlayer['height'].fillna(CommonPlayer['height'].median(), inplace=True)

# Rellenar valores nulos en las demás columnas como antes
CommonPlayer['school'].fillna('Desconocido', inplace=True)
CommonPlayer['country'].fillna('Desconocido', inplace=True)
CommonPlayer['position'].fillna('Desconocido', inplace=True)

# Para 'weight', asumimos que es numérica; llenar con la mediana si es así
CommonPlayer['weight'] = pd.to_numeric(CommonPlayer['weight'], errors='coerce')
CommonPlayer['weight'].fillna(CommonPlayer['weight'].median(), inplace=True)

CommonPlayer['jersey'].fillna(0, inplace=True)
CommonPlayer['team_name'].fillna('Sin equipo', inplace=True)
CommonPlayer['team_abbreviation'].fillna('Sin equipo', inplace=True)
CommonPlayer['team_city'].fillna('Sin equipo', inplace=True)

CommonPlayer['draft_round'].fillna(0, inplace=True)
CommonPlayer['draft_number'].fillna(0, inplace=True)

CommonPlayer['from_year'].fillna(0, inplace=True)
CommonPlayer['to_year'].fillna(0, inplace=True)

# Verificar que no queden valores nulos
print(CommonPlayer.isnull().sum())

person_id                             0
first_name                            0
last_name                             0
display_first_last                    0
display_last_comma_first              0
display_fi_last                       0
player_slug                           0
birthdate                             0
school                                0
country                               0
last_affiliation                      0
height                                0
weight                                0
season_exp                            0
jersey                                0
position                              0
rosterstatus                          0
games_played_current_season_flag      0
team_id                               0
team_name                             0
team_abbreviation                     0
team_code                           702
team_city                             0
playercode                            1
from_year                             0
to_year                               0
dleague_flag                          0
nba_flag                              0
games_played_flag                     0
draft_year                            0
draft_round                           0
draft_number                          0
greatest_75_flag                      0
dtype: int64

C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['height'].fillna(CommonPlayer['height'].median(), inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['school'].fillna('Desconocido', inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['country'].fillna('Desconocido', inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['position'].fillna('Desconocido', inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:24: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['weight'].fillna(CommonPlayer['weight'].median(), inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['jersey'].fillna(0, inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['team_name'].fillna('Sin equipo', inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['team_abbreviation'].fillna('Sin equipo', inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['team_city'].fillna('Sin equipo', inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:31: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['draft_round'].fillna(0, inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['draft_number'].fillna(0, inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['from_year'].fillna(0, inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_8820\3512128169.py:35: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  CommonPlayer['to_year'].fillna(0, inplace=True)

In [34]:
# Rellenar el valor nulo en 'playercode' con 'Desconocido'
InformacionComunDelJugador['playercode'].fillna('Desconocido', inplace=True)

# Verificar nuevamente que no queden valores nulos
print(InformacionComunDelJugador.isnull().sum())

person_id                           0
first_name                          0
last_name                           0
display_first_last                  0
display_last_comma_first            0
display_fi_last                     0
player_slug                         0
birthdate                           0
school                              0
country                             0
last_affiliation                    0
height                              0
weight                              0
season_exp                          0
jersey                              0
position                            0
rosterstatus                        0
games_played_current_season_flag    0
team_id                             0
team_name                           0
team_abbreviation                   0
team_code                           0
team_city                           0
playercode                          0
from_year                           0
to_year                             0
dleague_flag                        0
nba_flag                            0
games_played_flag                   0
draft_year                          0
draft_round                         0
draft_number                        0
greatest_75_flag                    0
dtype: int64

In [35]:
# Llenar valores nulos en columnas específicas

# Position
BorradorDeEstadsticasCombinadas['position'].fillna('Desconocido', inplace=True)

# Alturas y peso
BorradorDeEstadsticasCombinadas['height_wo_shoes'].fillna(BorradorDeEstadsticasCombinadas['height_wo_shoes'].median(), inplace=True)
BorradorDeEstadsticasCombinadas['height_w_shoes'].fillna(BorradorDeEstadsticasCombinadas['height_w_shoes'].median(), inplace=True)
BorradorDeEstadsticasCombinadas['weight'].fillna(BorradorDeEstadsticasCombinadas['weight'].median(), inplace=True)

# Medidas de alcance y salto
BorradorDeEstadsticasCombinadas['wingspan'].fillna(BorradorDeEstadsticasCombinadas['wingspan'].median(), inplace=True)
BorradorDeEstadsticasCombinadas['standing_reach'].fillna(BorradorDeEstadsticasCombinadas['standing_reach'].median(), inplace=True)
BorradorDeEstadsticasCombinadas['standing_vertical_leap'].fillna(BorradorDeEstadsticasCombinadas['standing_vertical_leap'].median(), inplace=True)
BorradorDeEstadsticasCombinadas['max_vertical_leap'].fillna(BorradorDeEstadsticasCombinadas['max_vertical_leap'].median(), inplace=True)

# Porcentaje de grasa corporal
BorradorDeEstadsticasCombinadas['body_fat_pct'].fillna(BorradorDeEstadsticasCombinadas['body_fat_pct'].median(), inplace=True)

# Longitud y ancho de mano
BorradorDeEstadsticasCombinadas['hand_length'].fillna(0, inplace=True)
BorradorDeEstadsticasCombinadas['hand_width'].fillna(0, inplace=True)

# Pruebas de agilidad y sprint
BorradorDeEstadsticasCombinadas['lane_agility_time'].fillna(BorradorDeEstadsticasCombinadas['lane_agility_time'].median(), inplace=True)
BorradorDeEstadsticasCombinadas['three_quarter_sprint'].fillna(BorradorDeEstadsticasCombinadas['three_quarter_sprint'].median(), inplace=True)

# Estadísticas de tiro
cols_tiro = ['spot_fifteen_corner_left', 'spot_fifteen_break_left', 'spot_fifteen_top_key', 'spot_fifteen_break_right', 'spot_fifteen_corner_right', 
             'spot_college_corner_left', 'spot_college_break_left', 'spot_college_top_key', 'spot_college_break_right', 'spot_college_corner_right',
             'spot_nba_corner_left', 'spot_nba_break_left', 'spot_nba_top_key', 'spot_nba_break_right', 'spot_nba_corner_right',
             'off_drib_fifteen_break_left', 'off_drib_fifteen_top_key', 'off_drib_fifteen_break_right', 'off_drib_college_break_left', 
             'off_drib_college_top_key', 'off_drib_college_break_right', 'on_move_fifteen', 'on_move_college']
BorradorDeEstadsticasCombinadas[cols_tiro] = BorradorDeEstadsticasCombinadas[cols_tiro].fillna(0)

# Verificar valores nulos restantes
print(BorradorDeEstadsticasCombinadas.isnull().sum())

season                            0
player_id                         0
first_name                        0
last_name                         0
player_name                       0
position                          0
height_wo_shoes                   0
height_wo_shoes_ft_in            49
height_w_shoes                    0
height_w_shoes_ft_in            194
weight                            0
wingspan                          0
wingspan_ft_in                   49
standing_reach                    0
standing_reach_ft_in             50
body_fat_pct                      0
hand_length                       0
hand_width                        0
standing_vertical_leap            0
max_vertical_leap                 0
lane_agility_time                 0
modified_lane_agility_time      791
three_quarter_sprint              0
bench_press                     394
spot_fifteen_corner_left          0
spot_fifteen_break_left           0
spot_fifteen_top_key              0
spot_fifteen_break_right          0
spot_fifteen_corner_right         0
spot_college_corner_left          0
spot_college_break_left           0
spot_college_top_key              0
spot_college_break_right          0
spot_college_corner_right         0
spot_nba_corner_left              0
spot_nba_break_left               0
spot_nba_top_key                  0
spot_nba_break_right              0
spot_nba_corner_right             0
off_drib_fifteen_break_left       0
off_drib_fifteen_top_key          0
off_drib_fifteen_break_right      0
off_drib_college_break_left       0
off_drib_college_top_key          0
off_drib_college_break_right      0
on_move_fifteen                   0
on_move_college                   0
dtype: int64

In [36]:
# Completar columnas de altura y alcance en pies y pulgadas
BorradorDeEstadsticasCombinadas['height_wo_shoes_ft_in'] = BorradorDeEstadsticasCombinadas['height_wo_shoes_ft_in'].fillna(
    BorradorDeEstadsticasCombinadas['height_wo_shoes'].apply(lambda x: f"{int(x // 12)}-{int(x % 12)}"))
BorradorDeEstadsticasCombinadas['height_w_shoes_ft_in'] = BorradorDeEstadsticasCombinadas['height_w_shoes_ft_in'].fillna(
    BorradorDeEstadsticasCombinadas['height_w_shoes'].apply(lambda x: f"{int(x // 12)}-{int(x % 12)}"))
BorradorDeEstadsticasCombinadas['wingspan_ft_in'] = BorradorDeEstadsticasCombinadas['wingspan_ft_in'].fillna(
    BorradorDeEstadsticasCombinadas['wingspan'].apply(lambda x: f"{int(x // 12)}-{int(x % 12)}"))
BorradorDeEstadsticasCombinadas['standing_reach_ft_in'] = BorradorDeEstadsticasCombinadas['standing_reach_ft_in'].fillna(
    BorradorDeEstadsticasCombinadas['standing_reach'].apply(lambda x: f"{int(x // 12)}-{int(x % 12)}"))

# Completar columnas de tiempo de agilidad y press de banca
BorradorDeEstadsticasCombinadas['modified_lane_agility_time'].fillna(BorradorDeEstadsticasCombinadas['modified_lane_agility_time'].median(), inplace=True)
BorradorDeEstadsticasCombinadas['bench_press'].fillna(BorradorDeEstadsticasCombinadas['bench_press'].median(), inplace=True)

# Verificar si quedan valores nulos
print(BorradorDeEstadsticasCombinadas.isnull().sum())

season                          0
player_id                       0
first_name                      0
last_name                       0
player_name                     0
position                        0
height_wo_shoes                 0
height_wo_shoes_ft_in           0
height_w_shoes                  0
height_w_shoes_ft_in            0
weight                          0
wingspan                        0
wingspan_ft_in                  0
standing_reach                  0
standing_reach_ft_in            0
body_fat_pct                    0
hand_length                     0
hand_width                      0
standing_vertical_leap          0
max_vertical_leap               0
lane_agility_time               0
modified_lane_agility_time      0
three_quarter_sprint            0
bench_press                     0
spot_fifteen_corner_left        0
spot_fifteen_break_left         0
spot_fifteen_top_key            0
spot_fifteen_break_right        0
spot_fifteen_corner_right       0
spot_college_corner_left        0
spot_college_break_left         0
spot_college_top_key            0
spot_college_break_right        0
spot_college_corner_right       0
spot_nba_corner_left            0
spot_nba_break_left             0
spot_nba_top_key                0
spot_nba_break_right            0
spot_nba_corner_right           0
off_drib_fifteen_break_left     0
off_drib_fifteen_top_key        0
off_drib_fifteen_break_right    0
off_drib_college_break_left     0
off_drib_college_top_key        0
off_drib_college_break_right    0
on_move_fifteen                 0
on_move_college                 0
dtype: int64

In [37]:
# Rellenar columnas con valores específicos para valores nulos
BorradorDeHistoria['organization'].fillna("Desconocido", inplace=True)
BorradorDeHistoria['organization_type'].fillna("Desconocido", inplace=True)

# Verificar si quedan valores nulos
print(BorradorDeHistoria.isnull().sum())

person_id              0
player_name            0
season                 0
round_number           0
round_pick             0
overall_pick           0
draft_type             0
team_id                0
team_city              0
team_name              0
team_abbreviation      0
organization           0
organization_type      0
player_profile_flag    0
dtype: int64

In [38]:
# Rellenar 'attendance' con la mediana de los valores existentes
InformacionDelJuego['attendance'].fillna(InformacionDelJuego['attendance'].median(), inplace=True)

# Rellenar 'game_time' con un valor nominal indicando desconocido
InformacionDelJuego['game_time'].fillna("Desconocido", inplace=True)

# Verificar si quedan valores nulos
print(InformacionDelJuego.isnull().sum())

game_id       0
game_date     0
attendance    0
game_time     0
dtype: int64

In [39]:
# Rellenar 'game_sequence' con -1 para indicar un valor nulo
ResumendelJuego['game_sequence'].fillna(-1, inplace=True)

# Rellenar 'game_status_text' con 'Desconocido'
ResumendelJuego['game_status_text'].fillna("Desconocido", inplace=True)

# Rellenar 'live_pc_time' con 'Desconocido'
ResumendelJuego['live_pc_time'].fillna("Desconocido", inplace=True)

# Rellenar 'natl_tv_broadcaster_abbreviation' con 'N/A'
ResumendelJuego['natl_tv_broadcaster_abbreviation'].fillna("N/A", inplace=True)

# Verificar si quedan valores nulos
print(ResumendelJuego.isnull().sum())

game_date_est                       0
game_sequence                       0
game_id                             0
game_status_id                      0
game_status_text                    0
gamecode                            0
home_team_id                        0
visitor_team_id                     0
season                              0
live_period                         0
live_pc_time                        0
natl_tv_broadcaster_abbreviation    0
live_period_time_bcast              0
wh_status                           0
dtype: int64

In [40]:
# Rellenar valores nulos para 'wl_home' y 'wl_away'
Juego['wl_home'].fillna("Desconocido", inplace=True)
Juego['wl_away'].fillna("Desconocido", inplace=True)

# Rellenar las estadísticas de tiros
Juego['fgm_home'].fillna(0, inplace=True)
Juego['fga_home'].fillna(0, inplace=True)
Juego['fg_pct_home'].fillna("Desconocido", inplace=True)
Juego['fgm_away'].fillna(0, inplace=True)
Juego['fga_away'].fillna(0, inplace=True)
Juego['fg_pct_away'].fillna("Desconocido", inplace=True)

# Rellenar rebotes
Juego['oreb_home'].fillna(0, inplace=True)
Juego['dreb_home'].fillna(0, inplace=True)
Juego['reb_home'].fillna(0, inplace=True)
Juego['oreb_away'].fillna(0, inplace=True)
Juego['dreb_away'].fillna(0, inplace=True)
Juego['reb_away'].fillna(0, inplace=True)

# Rellenar asistencias, robos, bloqueos y pérdidas
Juego['ast_home'].fillna(0, inplace=True)
Juego['stl_home'].fillna(0, inplace=True)
Juego['blk_home'].fillna(0, inplace=True)
Juego['tov_home'].fillna(0, inplace=True)
Juego['ast_away'].fillna(0, inplace=True)
Juego['stl_away'].fillna(0, inplace=True)
Juego['blk_away'].fillna(0, inplace=True)
Juego['tov_away'].fillna(0, inplace=True)

# Rellenar faltas personales
Juego['pf_home'].fillna(0, inplace=True)
Juego['pf_away'].fillna(0, inplace=True)

# Verificar si quedan valores nulos
print(Juego.isnull().sum())

season_id                     0
team_id_home                  0
team_abbreviation_home        0
team_name_home                0
game_id                       0
game_date                     0
matchup_home                  0
wl_home                       0
min                           0
fgm_home                      0
fga_home                      0
fg_pct_home                   0
fg3m_home                 13218
fg3a_home                 18683
fg3_pct_home              19074
ftm_home                     16
fta_home                   3004
ft_pct_home                3009
oreb_home                     0
dreb_home                     0
reb_home                      0
ast_home                      0
stl_home                      0
blk_home                      0
tov_home                      0
pf_home                       0
pts_home                      0
plus_minus_home               0
video_available_home          0
team_id_away                  0
team_abbreviation_away        0
team_name_away                0
matchup_away                  0
wl_away                       0
fgm_away                      0
fga_away                      0
fg_pct_away                   0
fg3m_away                 13218
fg3a_away                 18683
fg3_pct_away              18962
ftm_away                     13
fta_away                   3004
ft_pct_away                3006
oreb_away                     0
dreb_away                     0
reb_away                      0
ast_away                      0
stl_away                      0
blk_away                      0
tov_away                      0
pf_away                       0
pts_away                      0
plus_minus_away               0
video_available_away          0
season_type                   0
dtype: int64

In [41]:
# Rellenar las estadísticas de tiro de tres puntos
Juego['fg3m_home'].fillna(0, inplace=True)
Juego['fg3a_home'].fillna(0, inplace=True)
Juego['fg3_pct_home'].fillna(0, inplace=True)  # O "Desconocido" si prefieres
Juego['fg3m_away'].fillna(0, inplace=True)
Juego['fg3a_away'].fillna(0, inplace=True)
Juego['fg3_pct_away'].fillna(0, inplace=True)  # O "Desconocido"

# Rellenar los tiros libres
Juego['ftm_home'].fillna(0, inplace=True)
Juego['fta_home'].fillna(0, inplace=True)
Juego['ft_pct_home'].fillna(0, inplace=True)  # O "Desconocido"
Juego['ftm_away'].fillna(0, inplace=True)
Juego['fta_away'].fillna(0, inplace=True)
Juego['ft_pct_away'].fillna(0, inplace=True)  # O "Desconocido"

# Verificar si quedan valores nulos
print(Juego.isnull().sum())

season_id                 0
team_id_home              0
team_abbreviation_home    0
team_name_home            0
game_id                   0
game_date                 0
matchup_home              0
wl_home                   0
min                       0
fgm_home                  0
fga_home                  0
fg_pct_home               0
fg3m_home                 0
fg3a_home                 0
fg3_pct_home              0
ftm_home                  0
fta_home                  0
ft_pct_home               0
oreb_home                 0
dreb_home                 0
reb_home                  0
ast_home                  0
stl_home                  0
blk_home                  0
tov_home                  0
pf_home                   0
pts_home                  0
plus_minus_home           0
video_available_home      0
team_id_away              0
team_abbreviation_away    0
team_name_away            0
matchup_away              0
wl_away                   0
fgm_away                  0
fga_away                  0
fg_pct_away               0
fg3m_away                 0
fg3a_away                 0
fg3_pct_away              0
ftm_away                  0
fta_away                  0
ft_pct_away               0
oreb_away                 0
dreb_away                 0
reb_away                  0
ast_away                  0
stl_away                  0
blk_away                  0
tov_away                  0
pf_away                   0
pts_away                  0
plus_minus_away           0
video_available_away      0
season_type               0
dtype: int64

In [42]:
# Rellenar los valores nulos en 'arenacapacity' con la mediana
DetallesDelEquipo['arenacapacity'].fillna(DetallesDelEquipo['arenacapacity'].median(), inplace=True)

# Rellenar el valor nulo en 'headcoach' con 'Desconocido'
DetallesDelEquipo['headcoach'].fillna('Desconocido', inplace=True)

# Verificar si quedan valores nulos
print(DetallesDelEquipo.isnull().sum())

team_id               0
abbreviation          0
nickname              0
yearfounded           0
city                  0
arena                 0
arenacapacity         0
owner                 0
generalmanager        0
headcoach             0
dleagueaffiliation    0
facebook              0
instagram             0
twitter               0
dtype: int64

In [43]:
print(InformacionComunDelJugador.head())

   person_id first_name     last_name   display_first_last  \
0      76001       Alaa     Abdelnaby       Alaa Abdelnaby
1      76003     Kareem  Abdul-Jabbar  Kareem Abdul-Jabbar
2       1505      Tariq   Abdul-Wahad    Tariq Abdul-Wahad
3        949    Shareef   Abdur-Rahim  Shareef Abdur-Rahim
4      76005        Tom     Abernethy        Tom Abernethy

  display_last_comma_first  display_fi_last          player_slug  \
0          Abdelnaby, Alaa     A. Abdelnaby       alaa-abdelnaby
1     Abdul-Jabbar, Kareem  K. Abdul-Jabbar  kareem-abdul-jabbar
2       Abdul-Wahad, Tariq   T. Abdul-Wahad    tariq-abdul-wahad
3     Abdur-Rahim, Shareef   S. Abdur-Rahim  shareef-abdur-rahim
4           Abernethy, Tom     T. Abernethy        tom-abernethy

             birthdate          school country  ...  \
0  1968-06-24 00:00:00            Duke     USA  ...
1  1947-04-16 00:00:00            UCLA     USA  ...
2  1974-11-03 00:00:00  San Jose State  France  ...
3  1976-12-11 00:00:00      California     USA  ...
4  1954-05-06 00:00:00         Indiana     USA  ...

                    playercode  from_year  to_year  dleague_flag nba_flag  \
0       HISTADD_alaa_abdelnaby     1990.0   1994.0             N        Y
1  HISTADD_kareem_abdul-jabbar     1969.0   1988.0             N        Y
2            tariq_abdul-wahad     1997.0   2003.0             N        Y
3          shareef_abdur-rahim     1996.0   2007.0             N        Y
4        HISTADD_tom_abernethy     1976.0   1980.0             N        Y

  games_played_flag draft_year draft_round  draft_number greatest_75_flag
0                 Y       1990           1            25                N
1                 Y       1969           1             1                Y
2                 Y       1997           1            11                N
3                 Y       1996           1             3                N
4                 Y       1976           3            43                N

[5 rows x 33 columns]

In [44]:
print(BorradorDeEstadsticasCombinadas.head())

   season  player_id first_name   last_name        player_name position  \
0    2001      12033       Adam  Allenspach    Adam Allenspach        C
1    2001       2240    Gilbert      Arenas     Gilbert Arenas       SG
2    2001       2220    Brandon   Armstrong  Brandon Armstrong       SG
3    2001       2203      Shane     Battier      Shane Battier    SF-PF
4    2001      12034     Cookie     Belcher     Cookie Belcher    SG-PG

   height_wo_shoes height_wo_shoes_ft_in  height_w_shoes height_w_shoes_ft_in  \
0            83.50             6' 11.5''            79.0                  6-7
1            74.25             6' 2.25''            79.0                  6-7
2            75.50              6' 3.5''            79.0                  6-7
3            80.25             6' 8.25''            79.0                  6-7
4            75.00                6' 3''            79.0                  6-7

   ...  spot_nba_break_right  spot_nba_corner_right  \
0  ...                     0                      0
1  ...                     0                      0
2  ...                     0                      0
3  ...                     0                      0
4  ...                     0                      0

  off_drib_fifteen_break_left  off_drib_fifteen_top_key  \
0                           0                         0
1                           0                         0
2                           0                         0
3                           0                         0
4                           0                         0

  off_drib_fifteen_break_right  off_drib_college_break_left  \
0                            0                            0
1                            0                            0
2                            0                            0
3                            0                            0
4                            0                            0

   off_drib_college_top_key  off_drib_college_break_right  on_move_fifteen  \
0                         0                             0                0
1                         0                             0                0
2                         0                             0                0
3                         0                             0                0
4                         0                             0                0

   on_move_college
0                0
1                0
2                0
3                0
4                0

[5 rows x 47 columns]

In [45]:
print(dir())

['BorradorDeEstadsticasCombinadas', 'BorradorDeHistoria', 'DetallesDelEquipo', 'HistoriaDelEquipo', 'In', 'InformacionComunDelJugador', 'InformacionDelJuego', 'Juego', 'JuegoPorJuego', 'Jugador', 'JugadoresInactivos', 'Oficiales', 'OtrasEstadisticas', 'Out', 'PuntuacionDeLinea', 'ResumendelJuego', '_', '_10', '_11', '_12', '_13', '_14', '_15', '_16', '_17', '_18', '_20', '_21', '_22', '_23', '_24', '_25', '_26', '_27', '_28', '_29', '_30', '_31', '_32', '_4', '_5', '_6', '_7', '_8', '_9', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '__vsc_ipynb_file__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i19', '_i2', '_i20', '_i21', '_i22', '_i23', '_i24', '_i25', '_i26', '_i27', '_i28', '_i29', '_i3', '_i30', '_i31', '_i32', '_i33', '_i34', '_i35', '_i36', '_i37', '_i38', '_i39', '_i4', '_i40', '_i41', '_i42', '_i43', '_i44', '_i45', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'cols_tiro', 'convertir_altura_a_pulgadas', 'create_engine', 'df', 'dtype_sql', 'duplicados', 'engine', 'exit', 'file_path', 'get_ipython', 'np', 'open', 'pd', 'plt', 'pyodbc', 'quit', 'sns', 'text', 'types', 'warnings']

In [46]:
import warnings
warnings.filterwarnings("ignore")

In [47]:
print(InformacionComunDelJugador.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4171 entries, 0 to 4170
Data columns (total 33 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   person_id                         4171 non-null   int64
 1   first_name                        4171 non-null   object
 2   last_name                         4171 non-null   object
 3   display_first_last                4171 non-null   object
 4   display_last_comma_first          4171 non-null   object
 5   display_fi_last                   4171 non-null   object
 6   player_slug                       4171 non-null   object
 7   birthdate                         4171 non-null   object
 8   school                            4171 non-null   object
 9   country                           4171 non-null   object
 10  last_affiliation                  4171 non-null   object
 11  height                            4171 non-null   float64
 12  weight                            4171 non-null   float64
 13  season_exp                        4171 non-null   float64
 14  jersey                            4171 non-null   object
 15  position                          4171 non-null   object
 16  rosterstatus                      4171 non-null   object
 17  games_played_current_season_flag  4171 non-null   object
 18  team_id                           4171 non-null   int64
 19  team_name                         4171 non-null   object
 20  team_abbreviation                 4171 non-null   object
 21  team_code                         4171 non-null   object
 22  team_city                         4171 non-null   object
 23  playercode                        4171 non-null   object
 24  from_year                         4171 non-null   float64
 25  to_year                           4171 non-null   float64
 26  dleague_flag                      4171 non-null   object
 27  nba_flag                          4171 non-null   object
 28  games_played_flag                 4171 non-null   object
 29  draft_year                        4171 non-null   object
 30  draft_round                       4171 non-null   object
 31  draft_number                      4171 non-null   object
 32  greatest_75_flag                  4171 non-null   object
dtypes: float64(5), int64(2), object(26)
memory usage: 1.1+ MB
None

In [48]:
# Diccionario con todos los DataFrames
dataframes = {
    "InformacionComunDelJugador": InformacionComunDelJugador,
    "BorradorDeEstadsticasCombinadas": BorradorDeEstadsticasCombinadas,
    "BorradorDeHistoria": BorradorDeHistoria,
    "InformacionDelJuego": InformacionDelJuego,
    "ResumendelJuego": ResumendelJuego,
    "Juego": Juego,
    "JugadoresInactivos": JugadoresInactivos,
    "PuntuacionDeLinea": PuntuacionDeLinea,
    "Oficiales": Oficiales,
    "OtrasEstadisticas": OtrasEstadisticas,
    "JuegoPorJuego": JuegoPorJuego,
    "Jugador": Jugador,
    "DetallesDelEquipo": DetallesDelEquipo,
    "HistoriaDelEquipo": HistoriaDelEquipo
}

# Iterar sobre cada DataFrame y aplicar conversiones basadas en los tipos de datos
for name, df in dataframes.items():
    # Detectar y convertir automáticamente columnas con fechas (formato de texto)
    for col in df.select_dtypes(include=['object']).columns:
        try:
            # Intentar convertir la columna a formato de fecha
            df[col] = pd.to_datetime(df[col], errors='coerce')
        except:
            pass  # Si no se puede convertir, sigue al siguiente
    
    # Detectar y convertir automáticamente columnas numéricas
    for col in df.select_dtypes(include=['object']).columns:
        try:
            # Intentar convertir la columna a formato numérico
            df[col] = pd.to_numeric(df[col], errors='coerce')
        except:
            pass  # Si no se puede convertir, sigue al siguiente
    
    # Imprimir un mensaje para confirmar que las conversiones se aplicaron
    print(f"Conversiones automáticas aplicadas en {name}")

Conversiones automáticas aplicadas en InformacionComunDelJugador
Conversiones automáticas aplicadas en BorradorDeEstadsticasCombinadas
Conversiones automáticas aplicadas en BorradorDeHistoria
Conversiones automáticas aplicadas en InformacionDelJuego
Conversiones automáticas aplicadas en ResumendelJuego
Conversiones automáticas aplicadas en Juego
Conversiones automáticas aplicadas en JugadoresInactivos
Conversiones automáticas aplicadas en PuntuacionDeLinea
Conversiones automáticas aplicadas en Oficiales
Conversiones automáticas aplicadas en OtrasEstadisticas
Conversiones automáticas aplicadas en JuegoPorJuego
Conversiones automáticas aplicadas en Jugador
Conversiones automáticas aplicadas en DetallesDelEquipo
Conversiones automáticas aplicadas en HistoriaDelEquipo

In [49]:
for df_name, df in dataframes.items():
    df.to_csv(f"{df_name}_transformado.csv", index=False)

print("Todos los DataFrames se han guardado correctamente como archivos CSV.")

Todos los DataFrames se han guardado correctamente como archivos CSV.

In [50]:
import pandas as pd
import glob

# Buscar todos los archivos CSV en el directorio actual que tengan el sufijo '_transformado.csv'
archivos_csv = glob.glob("*_transformado.csv")

# Diccionario para almacenar los DataFrames cargados
dataframes_cargados = {}

# Cargar cada archivo CSV
for archivo in archivos_csv:
    # Extraer el nombre del archivo sin la extensión
    df_name = archivo.split("_transformado.csv")[0]
    # Cargar el DataFrame
    df = pd.read_csv(archivo)
    dataframes_cargados[df_name] = df

# Verificar que los DataFrames se hayan cargado correctamente
for df_name, df in dataframes_cargados.items():
    print(f"DataFrame cargado: {df_name}, con {df.shape[0]} filas y {df.shape[1]} columnas.")

DataFrame cargado: BorradorDeEstadsticasCombinadas, con 1202 filas y 47 columnas.
DataFrame cargado: BorradorDeHistoria, con 7990 filas y 14 columnas.
DataFrame cargado: DetallesDelEquipo, con 25 filas y 14 columnas.
DataFrame cargado: HistoriaDelEquipo, con 52 filas y 5 columnas.
DataFrame cargado: InformacionComunDelJugador, con 4171 filas y 33 columnas.
DataFrame cargado: InformacionDelJuego, con 58053 filas y 4 columnas.
DataFrame cargado: JuegoPorJuego, con 13592899 filas y 34 columnas.
DataFrame cargado: Juego, con 65698 filas y 55 columnas.
DataFrame cargado: JugadoresInactivos, con 110191 filas y 9 columnas.
DataFrame cargado: Jugador, con 4831 filas y 5 columnas.
DataFrame cargado: Oficiales, con 70971 filas y 5 columnas.
DataFrame cargado: OtrasEstadisticas, con 28271 filas y 26 columnas.
DataFrame cargado: PuntuacionDeLinea, con 58053 filas y 43 columnas.
DataFrame cargado: ResumendelJuego, con 58110 filas y 14 columnas.

In [27]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV
BorradorDeEstadsticasCombinadas = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\BorradorDeEstadsticasCombinadas_transformado.csv')

# Verificar y eliminar duplicados en la columna 'InventarioID'
if 'player_id' in BorradorDeEstadsticasCombinadas.columns:
    duplicados = BorradorDeEstadsticasCombinadas[BorradorDeEstadsticasCombinadas.duplicated(subset=['player_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'player_id':")
        print(duplicados)
        # Eliminar duplicados
        BorradorDeEstadsticasCombinadas = BorradorDeEstadsticasCombinadas.drop_duplicates(subset=['player_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'InventarioID' no existe en el DataFrame.")

# Asegurar que la columna 'InventarioID' no tenga valores nulos y convertir a string
BorradorDeEstadsticasCombinadas['player_id'].fillna('0', inplace=True)
BorradorDeEstadsticasCombinadas['player_id'] = BorradorDeEstadsticasCombinadas['player_id'].astype(str)
# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

dtype_sql = {
    'season': types.INTEGER,
    'player_id': types.INTEGER,
    'first_name': types.VARCHAR(length=50),
    'last_name': types.VARCHAR(length=50),
    'player_name': types.VARCHAR(length=100),
    'position': types.VARCHAR(length=10),
    'height_wo_shoes': types.FLOAT,
    'height_wo_shoes_ft_in': types.VARCHAR(length=10),
    'height_w_shoes': types.FLOAT,
    'height_w_shoes_ft_in': types.VARCHAR(length=10),
    'weight': types.FLOAT,
    'wingspan': types.FLOAT,
    'wingspan_ft_in': types.VARCHAR(length=10),
    'standing_reach': types.FLOAT,
    'standing_reach_ft_in': types.VARCHAR(length=10),
    'body_fat_pct': types.FLOAT,
    'hand_length': types.FLOAT,
    'hand_width': types.FLOAT,
    'standing_vertical_leap': types.FLOAT,
    'max_vertical_leap': types.FLOAT,
    'lane_agility_time': types.FLOAT,
    'modified_lane_agility_time': types.FLOAT,
    'three_quarter_sprint': types.FLOAT,
    'bench_press': types.INTEGER,
    'spot_fifteen_corner_left': types.DATE,
    'spot_fifteen_break_left': types.DATE,
    'spot_fifteen_top_key': types.DATE,
    'spot_fifteen_break_right': types.DATE,
    'spot_fifteen_corner_right': types.DATE,
    'spot_college_corner_left': types.DATE,
    'spot_college_break_left': types.DATE,
    'spot_college_top_key': types.DATE,
    'spot_college_break_right': types.DATE,
    'spot_college_corner_right': types.DATE,
    'spot_nba_corner_left': types.DATE,
    'spot_nba_break_left': types.DATE,
    'spot_nba_top_key': types.DATE,
    'spot_nba_break_right': types.DATE,
    'spot_nba_corner_right': types.DATE,
    'off_drib_fifteen_break_left': types.DATE,
    'off_drib_fifteen_top_key': types.DATE,
    'off_drib_fifteen_break_right': types.DATE,
    'off_drib_college_break_left': types.DATE,
    'off_drib_college_top_key': types.DATE,
    'off_drib_college_break_right': types.DATE,
    'on_move_fifteen': types.DATE,
    'on_move_college': types.DATE
}

# Exportar el DataFrame a una tabla SQL llamada BorradorDeEstadsticasCombinadas
BorradorDeEstadsticasCombinadas.to_sql('BorradorDeEstadsticasCombinadas', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla BorradorDeEstadsticasCombinadas en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que InventarioID es NOT NULL
with engine.connect() as connection:
    # Establecer InventarioID como NOT NULL
    connection.execute(text("""
        ALTER TABLE BorradorDeEstadsticasCombinadas
        ALTER COLUMN player_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla ComprasFinal2016
    connection.execute(text("""
        ALTER TABLE BorradorDeEstadsticasCombinadas
        ADD CONSTRAINT PK_player_id PRIMARY KEY (player_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'player_id':
      season  player_id  first_name  last_name  player_name  position  \
31      2001         -1         NaN        NaN          NaN       NaN
131     2004         -1         NaN        NaN          NaN       NaN
200     2005         -1         NaN        NaN          NaN       NaN
784     2017    1628959         NaN        NaN          NaN       NaN
801     2017    1628977         NaN        NaN          NaN       NaN
815     2017    1628992         NaN        NaN          NaN       NaN
827     2017    1629004         NaN        NaN          NaN       NaN
840     2017    1629021         NaN        NaN          NaN       NaN
847     2018    1628959         NaN        NaN          NaN       NaN
850     2018    1628962         NaN        NaN          NaN       NaN
855     2018    1628968         NaN        NaN          NaN       NaN
864     2018    1628977         NaN        NaN          NaN       NaN
869     2018    1628981         NaN        NaN          NaN       NaN
875     2018    1628986         NaN        NaN          NaN       NaN
880     2018    1628992         NaN        NaN          NaN       NaN
886     2018    1628998         NaN        NaN          NaN       NaN
892     2018    1629004         NaN        NaN          NaN       NaN
896     2018    1629007         NaN        NaN          NaN       NaN
909     2018    1629021         NaN        NaN          NaN       NaN
911     2018    1629023         NaN        NaN          NaN       NaN
913     2018    1629025         NaN        NaN          NaN       NaN
922     2019    1628968         NaN        NaN          NaN       NaN
933     2019    1629653         NaN        NaN          NaN       NaN
936     2019    1628981         NaN        NaN          NaN       NaN
941     2019    1628986         NaN        NaN          NaN       NaN
960     2019    1628998         NaN        NaN          NaN       NaN
966     2019    1629670         NaN        NaN          NaN       NaN
971     2019    1629617         NaN        NaN          NaN       NaN
974     2019    1629007         NaN        NaN          NaN       NaN
984     2019    1629681         NaN        NaN          NaN       NaN
985     2019    1629023         NaN        NaN          NaN       NaN
989     2019    1629025         NaN        NaN          NaN       NaN
995     2020    1628962         NaN        NaN          NaN       NaN
999     2020    1629653         NaN        NaN          NaN       NaN
1018    2020    1629670         NaN        NaN          NaN       NaN
1019    2020    1629617         NaN        NaN          NaN       NaN
1032    2020    1629681         NaN        NaN          NaN       NaN
1070    2022    1631218         NaN        NaN          NaN       NaN
1085    2022    1631159         NaN        NaN          NaN       NaN
1099    2022    1631204         NaN        NaN          NaN       NaN
1102    2022    1631173         NaN        NaN          NaN       NaN
1106    2022    1631124         NaN        NaN          NaN       NaN
1108    2022    1631166         NaN        NaN          NaN       NaN
1119    2022    1630592         NaN        NaN          NaN       NaN
1150    2023    1631218         NaN        NaN          NaN       NaN
1166    2023    1631159         NaN        NaN          NaN       NaN
1179    2023    1631204         NaN        NaN          NaN       NaN
1184    2023    1631173         NaN        NaN          NaN       NaN
1186    2023    1631124         NaN        NaN          NaN       NaN
1189    2023    1631166         NaN        NaN          NaN       NaN
1200    2023    1630592         NaN        NaN          NaN       NaN

      height_wo_shoes  height_wo_shoes_ft_in  height_w_shoes  \
31              69.75                    NaN           79.00
131             81.25                    NaN           82.75
200             71.50                    NaN           72.75
784             74.50                    NaN           75.75
801             75.75                    NaN           77.00
815             77.75                    NaN           79.00
827             78.50                    NaN           79.50
840             82.00                    NaN           83.25
847             74.75                    NaN           76.25
850             82.00                    NaN           84.25
855             78.25                    NaN           79.50
864             76.25                    NaN           78.00
869             80.75                    NaN           81.75
875             73.50                    NaN           74.75
880             78.00                    NaN           78.75
886             76.75                    NaN           78.00
892             78.50                    NaN           79.75
896             82.00                    NaN           83.50
909             82.50                    NaN           83.50
911             78.50                    NaN           80.00
913             78.50                    NaN           79.50
922             78.25                    NaN           79.50
933             72.00                    NaN           74.00
936             80.75                    NaN           82.25
941             73.50                    NaN           75.00
960             76.75                    NaN           77.50
966             77.75                    NaN           79.50
971             80.00                    NaN           81.25
974             81.75                    NaN           83.00
984             77.75                    NaN           79.00
985             78.50                    NaN           80.00
989             78.25                    NaN           79.75
995             82.00                    NaN           83.50
999             72.50                    NaN           73.70
1018            77.75                    NaN           79.00
1019            80.25                    NaN           81.20
1032            80.75                    NaN           82.00
1070            77.75                    NaN           79.00
1085            80.50                    NaN           82.00
1099            77.75                    NaN           79.00
1102            74.25                    NaN           75.75
1106            77.75                    NaN           79.00
1108            80.25                    NaN           81.25
1119            77.75                    NaN           79.00
1150            80.25                    NaN           79.00
1166            81.25                    NaN           79.00
1179            73.25                    NaN           79.00
1184            74.50                    NaN           79.00
1186            78.00                    NaN           79.00
1189            80.75                    NaN           79.00
1200            77.50                    NaN           79.00

      height_w_shoes_ft_in  ...  spot_nba_break_right  spot_nba_corner_right  \
31                     NaN  ...            1970-01-01             1970-01-01
131                    NaN  ...            1970-01-01             1970-01-01
200                    NaN  ...            1970-01-01             1970-01-01
784                    NaN  ...                   NaN                    NaN
801                    NaN  ...            1970-01-01             1970-01-01
815                    NaN  ...                   NaN                    NaN
827                    NaN  ...                   NaN                    NaN
840                    NaN  ...                   NaN                    NaN
847                    NaN  ...                   NaN                    NaN
850                    NaN  ...            1970-01-01             1970-01-01
855                    NaN  ...                   NaN                    NaN
864                    NaN  ...            1970-01-01             1970-01-01
869                    NaN  ...                   NaN                    NaN
875                    NaN  ...                   NaN                    NaN
880                    NaN  ...            1970-01-01             1970-01-01
886                    NaN  ...                   NaN                    NaN
892                    NaN  ...                   NaN                    NaN
896                    NaN  ...                   NaN                    NaN
909                    NaN  ...            1970-01-01             1970-01-01
911                    NaN  ...                   NaN                    NaN
913                    NaN  ...                   NaN                    NaN
922                    NaN  ...            1970-01-01             1970-01-01
933                    NaN  ...                   NaN                    NaN
936                    NaN  ...            1970-01-01             1970-01-01
941                    NaN  ...                   NaN                    NaN
960                    NaN  ...                   NaN                    NaN
966                    NaN  ...            1970-01-01             1970-01-01
971                    NaN  ...                   NaN                    NaN
974                    NaN  ...            1970-01-01             1970-01-01
984                    NaN  ...            1970-01-01             1970-01-01
985                    NaN  ...            1970-01-01             1970-01-01
989                    NaN  ...                   NaN                    NaN
995                    NaN  ...            1970-01-01             1970-01-01
999                    NaN  ...            1970-01-01             1970-01-01
1018                   NaN  ...            1970-01-01             1970-01-01
1019                   NaN  ...            1970-01-01             1970-01-01
1032                   NaN  ...            1970-01-01             1970-01-01
1070                   NaN  ...            1970-01-01             1970-01-01
1085                   NaN  ...            1970-01-01             1970-01-01
1099                   NaN  ...            1970-01-01             1970-01-01
1102                   NaN  ...            1970-01-01             1970-01-01
1106                   NaN  ...            1970-01-01             1970-01-01
1108                   NaN  ...            1970-01-01             1970-01-01
1119                   NaN  ...            1970-01-01             1970-01-01
1150                   NaN  ...            1970-01-01             1970-01-01
1166                   NaN  ...            1970-01-01             1970-01-01
1179                   NaN  ...            1970-01-01             1970-01-01
1184                   NaN  ...            1970-01-01             1970-01-01
1186                   NaN  ...            1970-01-01             1970-01-01
1189                   NaN  ...            1970-01-01             1970-01-01
1200                   NaN  ...            1970-01-01             1970-01-01

      off_drib_fifteen_break_left  off_drib_fifteen_top_key  \
31                     1970-01-01                1970-01-01
131                    1970-01-01                1970-01-01
200                    1970-01-01                1970-01-01
784                           NaN                       NaN
801                    1970-01-01                1970-01-01
815                           NaN                       NaN
827                           NaN                       NaN
840                    1970-01-01                1970-01-01
847                           NaN                       NaN
850                    1970-01-01                1970-01-01
855                           NaN                       NaN
864                    1970-01-01                1970-01-01
869                           NaN                       NaN
875                           NaN                       NaN
880                    1970-01-01                1970-01-01
886                           NaN                       NaN
892                           NaN                       NaN
896                           NaN                       NaN
909                    1970-01-01                1970-01-01
911                           NaN                       NaN
913                           NaN                       NaN
922                    1970-01-01                1970-01-01
933                           NaN                       NaN
936                    1970-01-01                1970-01-01
941                    1970-01-01                1970-01-01
960                           NaN                       NaN
966                    1970-01-01                1970-01-01
971                           NaN                       NaN
974                    1970-01-01                1970-01-01
984                    1970-01-01                1970-01-01
985                    1970-01-01                1970-01-01
989                           NaN                       NaN
995                    1970-01-01                1970-01-01
999                    1970-01-01                1970-01-01
1018                   1970-01-01                1970-01-01
1019                   1970-01-01                1970-01-01
1032                   1970-01-01                1970-01-01
1070                   1970-01-01                1970-01-01
1085                   1970-01-01                1970-01-01
1099                   1970-01-01                1970-01-01
1102                   1970-01-01                1970-01-01
1106                   1970-01-01                1970-01-01
1108                   1970-01-01                1970-01-01
1119                   1970-01-01                1970-01-01
1150                   1970-01-01                1970-01-01
1166                   1970-01-01                1970-01-01
1179                   1970-01-01                1970-01-01
1184                   1970-01-01                1970-01-01
1186                   1970-01-01                1970-01-01
1189                   1970-01-01                1970-01-01
1200                   1970-01-01                1970-01-01

      off_drib_fifteen_break_right  off_drib_college_break_left  \
31                      1970-01-01                   1970-01-01
131                     1970-01-01                   1970-01-01
200                     1970-01-01                   1970-01-01
784                            NaN                   1970-01-01
801                     1970-01-01                   1970-01-01
815                            NaN                   1970-01-01
827                            NaN                   1970-01-01
840                     1970-01-01                          NaN
847                            NaN                   1970-01-01
850                     1970-01-01                   1970-01-01
855                            NaN                   1970-01-01
864                     1970-01-01                   1970-01-01
869                            NaN                          NaN
875                            NaN                   1970-01-01
880                     1970-01-01                   1970-01-01
886                            NaN                          NaN
892                            NaN                   1970-01-01
896                            NaN                   1970-01-01
909                     1970-01-01                   1970-01-01
911                            NaN                   1970-01-01
913                            NaN                   1970-01-01
922                     1970-01-01                   1970-01-01
933                            NaN                   1970-01-01
936                     1970-01-01                   1970-01-01
941                     1970-01-01                          NaN
960                            NaN                   1970-01-01
966                     1970-01-01                   1970-01-01
971                            NaN                   1970-01-01
974                     1970-01-01                   1970-01-01
984                     1970-01-01                   1970-01-01
985                     1970-01-01                   1970-01-01
989                            NaN                   1970-01-01
995                     1970-01-01                   1970-01-01
999                     1970-01-01                   1970-01-01
1018                    1970-01-01                   1970-01-01
1019                    1970-01-01                   1970-01-01
1032                    1970-01-01                   1970-01-01
1070                    1970-01-01                   1970-01-01
1085                    1970-01-01                          NaN
1099                    1970-01-01                   1970-01-01
1102                    1970-01-01                          NaN
1106                    1970-01-01                          NaN
1108                    1970-01-01                          NaN
1119                    1970-01-01                   1970-01-01
1150                    1970-01-01                          NaN
1166                    1970-01-01                          NaN
1179                    1970-01-01                          NaN
1184                    1970-01-01                          NaN
1186                    1970-01-01                          NaN
1189                    1970-01-01                          NaN
1200                    1970-01-01                          NaN

      off_drib_college_top_key  off_drib_college_break_right  on_move_fifteen  \
31                  1970-01-01                    1970-01-01       1970-01-01
131                 1970-01-01                    1970-01-01       1970-01-01
200                 1970-01-01                    1970-01-01       1970-01-01
784                 1970-01-01                    1970-01-01              NaN
801                 1970-01-01                    1970-01-01       1970-01-01
815                 1970-01-01                    1970-01-01              NaN
827                 1970-01-01                    1970-01-01              NaN
840                        NaN                           NaN       1970-01-01
847                 1970-01-01                    1970-01-01              NaN
850                 1970-01-01                    1970-01-01       1970-01-01
855                 1970-01-01                    1970-01-01              NaN
864                 1970-01-01                    1970-01-01       1970-01-01
869                        NaN                           NaN              NaN
875                 1970-01-01                    1970-01-01              NaN
880                 1970-01-01                    1970-01-01       1970-01-01
886                        NaN                           NaN              NaN
892                 1970-01-01                    1970-01-01       1970-01-01
896                 1970-01-01                    1970-01-01              NaN
909                 1970-01-01                    1970-01-01       1970-01-01
911                 1970-01-01                    1970-01-01              NaN
913                 1970-01-01                    1970-01-01              NaN
922                 1970-01-01                    1970-01-01              NaN
933                 1970-01-01                    1970-01-01              NaN
936                 1970-01-01                    1970-01-01              NaN
941                        NaN                           NaN              NaN
960                 1970-01-01                    1970-01-01              NaN
966                 1970-01-01                    1970-01-01       1970-01-01
971                 1970-01-01                    1970-01-01              NaN
974                 1970-01-01                    1970-01-01       1970-01-01
984                 1970-01-01                    1970-01-01       1970-01-01
985                 1970-01-01                    1970-01-01       1970-01-01
989                 1970-01-01                    1970-01-01              NaN
995                 1970-01-01                    1970-01-01       1970-01-01

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\2599570557.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  BorradorDeEstadsticasCombinadas['player_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla BorradorDeEstadsticasCombinadas en la base de datos NBA
Clave primaria agregada exitosamente.

In [28]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV
BorradorDeHistoria = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\BorradorDeHistoria_transformado.csv')

# Verificar y eliminar duplicados en la columna 'person_id'
if 'person_id' in BorradorDeHistoria.columns:
    duplicados = BorradorDeHistoria[BorradorDeHistoria.duplicated(subset=['person_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'person_id':")
        print(duplicados)
        # Eliminar duplicados
        BorradorDeHistoria = BorradorDeHistoria.drop_duplicates(subset=['person_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'person_id' no existe en el DataFrame.")

# Asegurar que la columna 'person_id' no tenga valores nulos y convertir a string
BorradorDeHistoria['person_id'].fillna('0', inplace=True)
BorradorDeHistoria['person_id'] = BorradorDeHistoria['person_id'].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'person_id': types.INTEGER,
    'player_name': types.VARCHAR(length=100),  # Se usará como PK
    'season': types.INTEGER,
    'round_number': types.INTEGER,
    'round_pick': types.INTEGER,
    'overall_pick': types.INTEGER,
    'draft_type': types.VARCHAR(length=50),  # Puede ser texto corto
    'team_id': types.INTEGER,
    'team_city': types.VARCHAR(length=50),
    'team_name': types.VARCHAR(length=50),
    'team_abbreviation': types.VARCHAR(length=10),
    'organization': types.VARCHAR(length=100),
    'organization_type': types.VARCHAR(length=50),
    'player_profile_flag': types.INTEGER
}

# Exportar el DataFrame a una tabla SQL llamada BorradorDeHistoria
BorradorDeHistoria.to_sql('BorradorDeHistoria', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla BorradorDeHistoria en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que person_id es NOT NULL
with engine.connect() as connection:
    # Establecer person_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE BorradorDeHistoria
        ALTER COLUMN person_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla BorradorDeHistoria
    connection.execute(text("""
        ALTER TABLE BorradorDeHistoria
        ADD CONSTRAINT PK_person_id PRIMARY KEY (person_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'person_id':
      person_id  player_name  season  round_number  round_pick  overall_pick  \
39        76773          NaN    1947             0           0             0
51        79284          NaN    1947             0           0             0
103       77769          NaN    1948             0           0             0
126       76414          NaN    1948             0           0             0
131       76773          NaN    1948             0           0             0
...         ...          ...     ...           ...         ...           ...
5482      76195          NaN    1985             2           7            31
5493      83276          NaN    1985             2          18            42
5528        717          NaN    1985             4           7            77
5637        717          NaN    1986             1          24            24
5734      83276          NaN    1986             6           5           121

      draft_type     team_id  team_city  team_name  team_abbreviation  \
39           NaN  1610610024        NaN        NaN                NaN
51           NaN  1610610025        NaN        NaN                NaN
103          NaN  1610612747        NaN        NaN                NaN
126          NaN  1610610032        NaN        NaN                NaN
131          NaN  1610612752        NaN        NaN                NaN
...          ...         ...        ...        ...                ...
5482         NaN  1610612764        NaN        NaN                NaN
5493         NaN  1610612744        NaN        NaN                NaN
5528         NaN  1610612737        NaN        NaN                NaN
5637         NaN  1610612757        NaN        NaN                NaN
5734         NaN  1610612744        NaN        NaN                NaN

      organization  organization_type  player_profile_flag
39             NaN                NaN                    1
51             NaN                NaN                    0
103            NaN                NaN                    1
126            NaN                NaN                    1
131            NaN                NaN                    1
...            ...                ...                  ...
5482           NaN                NaN                    1
5493           NaN                NaN                    0
5528           NaN                NaN                    1
5637           NaN                NaN                    1
5734           NaN                NaN                    0

[246 rows x 14 columns]
Duplicados eliminados.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\2034243432.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  BorradorDeHistoria['person_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla BorradorDeHistoria en la base de datos NBA
Clave primaria agregada exitosamente.

In [29]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV
DetallesDelEquipo = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\DetallesDelEquipo_transformado.csv')

# Verificar y eliminar duplicados en la columna 'team_id'
if 'team_id' in DetallesDelEquipo.columns:
    duplicados = DetallesDelEquipo[DetallesDelEquipo.duplicated(subset=['team_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'team_id':")
        print(duplicados)
        # Eliminar duplicados
        DetallesDelEquipo = DetallesDelEquipo.drop_duplicates(subset=['team_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'team_id' no existe en el DataFrame.")

# Asegurar que la columna 'team_id' no tenga valores nulos y convertir a string
DetallesDelEquipo['team_id'].fillna('0', inplace=True)
DetallesDelEquipo['team_id'] = DetallesDelEquipo['team_id'].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'team_id': types.INTEGER,  # Se usará como PK
    'abbreviation': types.VARCHAR(length=10),
    'nickname': types.VARCHAR(length=50),
    'yearfounded': types.FLOAT,
    'city': types.VARCHAR(length=50),
    'arena': types.VARCHAR(length=100),
    'arenacapacity': types.FLOAT,
    'owner': types.VARCHAR(length=100),
    'generalmanager': types.VARCHAR(length=100),
    'headcoach': types.VARCHAR(length=100),
    'dleagueaffiliation': types.VARCHAR(length=50),
    'facebook': types.VARCHAR(length=100),
    'instagram': types.VARCHAR(length=100),
    'twitter': types.VARCHAR(length=100)
}

# Exportar el DataFrame a una tabla SQL llamada DetallesDelEquipo
DetallesDelEquipo.to_sql('DetallesDelEquipo', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla DetallesDelEquipo en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que team_id es NOT NULL
with engine.connect() as connection:
    # Establecer team_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE DetallesDelEquipo
        ALTER COLUMN team_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla DetallesDelEquipo
    connection.execute(text("""
        ALTER TABLE DetallesDelEquipo
        ADD CONSTRAINT PK_team_id PRIMARY KEY (team_id);
    """))

print("Clave primaria agregada exitosamente.")

Datos exportados exitosamente a la tabla DetallesDelEquipo en la base de datos NBA
Clave primaria agregada exitosamente.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\3774616185.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DetallesDelEquipo['team_id'].fillna('0', inplace=True)

In [30]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
DetallesDelEquipo = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\DetallesDelEquipo_transformado.csv')

# Verificar y eliminar duplicados en la columna 'team_id'
if 'team_id' in DetallesDelEquipo.columns:
    duplicados = DetallesDelEquipo[DetallesDelEquipo.duplicated(subset=['team_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'team_id':")
        print(duplicados)
        # Eliminar duplicados
        DetallesDelEquipo = DetallesDelEquipo.drop_duplicates(subset=['team_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'team_id' no existe en el DataFrame.")

# Asegurar que la columna 'team_id' no tenga valores nulos y convertir a string
DetallesDelEquipo['team_id'].fillna('0', inplace=True)
DetallesDelEquipo['team_id'] = DetallesDelEquipo['team_id'].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'team_id': types.INTEGER,  # Se usará como PK
    'abbreviation': types.VARCHAR(length=10),
    'nickname': types.VARCHAR(length=50),
    'yearfounded': types.FLOAT,
    'city': types.VARCHAR(length=50),
    'arena': types.VARCHAR(length=100),
    'arenacapacity': types.FLOAT,
    'owner': types.VARCHAR(length=100),
    'generalmanager': types.VARCHAR(length=100),
    'headcoach': types.VARCHAR(length=100),
    'dleagueaffiliation': types.VARCHAR(length=50),
    'facebook': types.VARCHAR(length=100),
    'instagram': types.VARCHAR(length=100),
    'twitter': types.VARCHAR(length=100)
}

# Exportar el DataFrame a una tabla SQL llamada DetallesDelEquipo
DetallesDelEquipo.to_sql('DetallesDelEquipo', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla DetallesDelEquipo en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que team_id es NOT NULL
with engine.connect() as connection:
    # Establecer team_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE DetallesDelEquipo
        ALTER COLUMN team_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla DetallesDelEquipo
    connection.execute(text("""
        ALTER TABLE DetallesDelEquipo
        ADD CONSTRAINT PK_team_id PRIMARY KEY (team_id);
    """))

print("Clave primaria agregada exitosamente.")

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\878328416.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  DetallesDelEquipo['team_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla DetallesDelEquipo en la base de datos NBA
Clave primaria agregada exitosamente.

In [31]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
HistoriaDelEquipo = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\HistoriaDelEquipo_transformado.csv')

# Verificar y eliminar duplicados en la columna 'team_id'
if 'team_id' in HistoriaDelEquipo.columns:
    duplicados = HistoriaDelEquipo[HistoriaDelEquipo.duplicated(subset=['team_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'team_id':")
        print(duplicados)
        # Eliminar duplicados
        HistoriaDelEquipo = HistoriaDelEquipo.drop_duplicates(subset=['team_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'team_id' no existe en el DataFrame.")

# Asegurar que la columna 'team_id' no tenga valores nulos y convertir a string
HistoriaDelEquipo['team_id'].fillna('0', inplace=True)
HistoriaDelEquipo['team_id'] = HistoriaDelEquipo['team_id'].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'team_id': types.INTEGER,  # Se usará como PK
    'city': types.VARCHAR(length=50),
    'nickname': types.VARCHAR(length=50),
    'year_founded': types.FLOAT,
    'year_active_till': types.FLOAT
}

# Exportar el DataFrame a una tabla SQL llamada HistoriaDelEquipo
HistoriaDelEquipo.to_sql('HistoriaDelEquipo', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla HistoriaDelEquipo en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que team_id es NOT NULL
with engine.connect() as connection:
    # Establecer team_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE HistoriaDelEquipo
        ALTER COLUMN team_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla HistoriaDelEquipo
    connection.execute(text("""
        ALTER TABLE HistoriaDelEquipo
        ADD CONSTRAINT PK_team_id PRIMARY KEY (team_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'team_id':
       team_id  city  nickname  year_founded  year_active_till
0   1610612737   NaN       NaN          1968              2019
1   1610612737   NaN       NaN          1955              1967
2   1610612737   NaN       NaN          1951              1954
3   1610612737   NaN       NaN          1949              1950
7   1610612744   NaN       NaN          1971              2019
8   1610612744   NaN       NaN          1962              1970
9   1610612744   NaN       NaN          1946              1961
10  1610612745   NaN       NaN          1971              2019
11  1610612745   NaN       NaN          1967              1970
12  1610612746   NaN       NaN          1984              2019
13  1610612746   NaN       NaN          1978              1983
14  1610612746   NaN       NaN          1970              1977
15  1610612747   NaN       NaN          1960              2019
16  1610612747   NaN       NaN          1948              1959
20  1610612751   NaN       NaN          2012              2019
21  1610612751   NaN       NaN          1977              2011
22  1610612751   NaN       NaN          1976              1976
24  1610612755   NaN       NaN          1963              2019
25  1610612755   NaN       NaN          1949              1962
28  1610612758   NaN       NaN          1985              2019
29  1610612758   NaN       NaN          1975              1984
30  1610612758   NaN       NaN          1972              1974
31  1610612758   NaN       NaN          1957              1971
32  1610612758   NaN       NaN          1948              1956
34  1610612760   NaN       NaN          2008              2019
35  1610612760   NaN       NaN          1967              2007
37  1610612762   NaN       NaN          1979              2019
38  1610612762   NaN       NaN          1974              1978
39  1610612763   NaN       NaN          2001              2019
40  1610612763   NaN       NaN          1995              2000
41  1610612764   NaN       NaN          1997              2019
42  1610612764   NaN       NaN          1974              1996
43  1610612764   NaN       NaN          1973              1973
44  1610612764   NaN       NaN          1963              1972
45  1610612764   NaN       NaN          1962              1962
46  1610612764   NaN       NaN          1961              1961
47  1610612765   NaN       NaN          1957              2019
48  1610612765   NaN       NaN          1948              1956
49  1610612766   NaN       NaN          2014              2019
50  1610612766   NaN       NaN          2004              2013
51  1610612766   NaN       NaN          1988              2001
Duplicados eliminados.
Datos exportados exitosamente a la tabla HistoriaDelEquipo en la base de datos NBA
Clave primaria agregada exitosamente.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\773142995.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  HistoriaDelEquipo['team_id'].fillna('0', inplace=True)

In [32]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
InformacionComunDelJugador = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\InformacionComunDelJugador_transformado.csv')

# Verificar y eliminar duplicados en la columna 'person_id'
if 'person_id' in InformacionComunDelJugador.columns:
    duplicados = InformacionComunDelJugador[InformacionComunDelJugador.duplicated(subset=['person_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'person_id':")
        print(duplicados)
        # Eliminar duplicados
        InformacionComunDelJugador = InformacionComunDelJugador.drop_duplicates(subset=['person_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'person_id' no existe en el DataFrame.")

# Asegurar que la columna 'person_id' no tenga valores nulos y convertir a string
InformacionComunDelJugador['person_id'].fillna('0', inplace=True)
InformacionComunDelJugador['person_id'] = InformacionComunDelJugador['person_id'].astype(str)

# Convertir las columnas con posibles valores numéricos a tipo float
numerical_columns = ['height', 'weight', 'season_exp', 'draft_year', 'draft_round', 'draft_number', 'from_year', 'to_year']
for col in numerical_columns:
    InformacionComunDelJugador[col] = pd.to_numeric(InformacionComunDelJugador[col], errors='coerce')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'person_id': types.INTEGER,  # Se usará como PK
    'first_name': types.VARCHAR(length=50),
    'last_name': types.VARCHAR(length=50),
    'display_first_last': types.VARCHAR(length=100),
    'display_last_comma_first': types.VARCHAR(length=100),
    'display_fi_last': types.VARCHAR(length=50),
    'player_slug': types.VARCHAR(length=100),
    'birthdate': types.DATE,
    'school': types.VARCHAR(length=100),
    'country': types.VARCHAR(length=50),
    'last_affiliation': types.VARCHAR(length=100),
    'height': types.FLOAT,
    'weight': types.FLOAT,
    'season_exp': types.FLOAT,
    'jersey': types.VARCHAR(length=10),
    'position': types.VARCHAR(length=20),
    'rosterstatus': types.VARCHAR(length=20),
    'games_played_current_season_flag': types.Boolean,  # Modificado a Boolean
    'team_id': types.INTEGER,
    'team_name': types.VARCHAR(length=50),
    'team_abbreviation': types.VARCHAR(length=10),
    'team_code': types.VARCHAR(length=10),
    'team_city': types.VARCHAR(length=50),
    'playercode': types.VARCHAR(length=100),
    'from_year': types.FLOAT,
    'to_year': types.FLOAT,
    'dleague_flag': types.Boolean,  # Modificado a Boolean
    'nba_flag': types.Boolean,  # Modificado a Boolean
    'games_played_flag': types.Boolean,  # Modificado a Boolean
    'draft_year': types.FLOAT,
    'draft_round': types.FLOAT,
    'draft_number': types.FLOAT,
    'greatest_75_flag': types.Boolean  # Modificado a Boolean
}

# Exportar el DataFrame a una tabla SQL llamada InformacionComunDelJugador
InformacionComunDelJugador.to_sql('InformacionComunDelJugador', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla InformacionComunDelJugador en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que person_id es NOT NULL
with engine.connect() as connection:
    # Establecer person_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE InformacionComunDelJugador
        ALTER COLUMN person_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla InformacionComunDelJugador
    connection.execute(text("""
        ALTER TABLE InformacionComunDelJugador
        ADD CONSTRAINT PK_person_id PRIMARY KEY (person_id);
    """))

print("Clave primaria agregada exitosamente.")

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\2188510069.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  InformacionComunDelJugador['person_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla InformacionComunDelJugador en la base de datos NBA
Clave primaria agregada exitosamente.

In [33]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
InformacionDelJuego = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\InformacionDelJuego_transformado.csv')

# Verificar y eliminar duplicados en la columna 'game_id'
if 'game_id' in InformacionDelJuego.columns:
    duplicados = InformacionDelJuego[InformacionDelJuego.duplicated(subset=['game_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'game_id':")
        print(duplicados)
        # Eliminar duplicados
        InformacionDelJuego = InformacionDelJuego.drop_duplicates(subset=['game_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'game_id' no existe en el DataFrame.")

# Asegurar que la columna 'game_id' no tenga valores nulos y convertir a string
InformacionDelJuego['game_id'].fillna('0', inplace=True)
InformacionDelJuego['game_id'] = InformacionDelJuego['game_id'].astype(str)

# Convertir la columna 'game_date' a formato de fecha
InformacionDelJuego['game_date'] = pd.to_datetime(InformacionDelJuego['game_date'], errors='coerce')

# Convertir las columnas con posibles valores numéricos a tipo float
InformacionDelJuego['attendance'] = pd.to_numeric(InformacionDelJuego['attendance'], errors='coerce')

# Asegurarse que 'game_time' sea un string (para cualquier formato de hora)
InformacionDelJuego['game_time'] = InformacionDelJuego['game_time'].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'game_id': types.INTEGER,  # Se usará como PK
    'game_date': types.DATE,
    'attendance': types.FLOAT,
    'game_time': types.VARCHAR(length=50)
}

# Exportar el DataFrame a una tabla SQL llamada InformacionDelJuego
InformacionDelJuego.to_sql('InformacionDelJuego', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla InformacionDelJuego en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que game_id es NOT NULL
with engine.connect() as connection:
    # Establecer game_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE InformacionDelJuego
        ALTER COLUMN game_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla InformacionDelJuego
    connection.execute(text("""
        ALTER TABLE InformacionDelJuego
        ADD CONSTRAINT PK_game_id PRIMARY KEY (game_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'game_id':
        game_id   game_date  attendance            game_time
1613   35000001  1951-03-02     16205.0                  NaN
1614   35000001  1951-03-02     16205.0                  NaN
1921   35100001  1952-02-11     16205.0                  NaN
1922   35100001  1952-02-11     16205.0                  NaN
2244   35200001  1953-01-13     16205.0                  NaN
...         ...         ...         ...                  ...
50922  31600001  2017-02-19     15701.0  2024-11-16 02:18:00
53393  31800001  2019-02-17     16205.0  2024-11-16 02:19:00
53394  31800001  2019-02-17     16205.0  2024-11-16 02:19:00
58051  32200001  2023-02-19     17886.0  2024-11-16 00:00:00
58052  32200001  2023-02-19     17886.0  2024-11-16 00:00:00

[80 rows x 4 columns]
Duplicados eliminados.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\2455664783.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  InformacionDelJuego['game_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla InformacionDelJuego en la base de datos NBA
Clave primaria agregada exitosamente.

In [35]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
Juego = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\Juego_transformado.csv')

# Verificar y eliminar duplicados en la columna 'game_id'
if 'game_id' in Juego.columns:
    duplicados = Juego[Juego.duplicated(subset=['game_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'game_id':")
        print(duplicados)
        # Eliminar duplicados
        Juego = Juego.drop_duplicates(subset=['game_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'game_id' no existe en el DataFrame.")

# Asegurar que la columna 'game_id' no tenga valores nulos y convertir a string
Juego['game_id'].fillna('0', inplace=True)
Juego['game_id'] = Juego['game_id'].astype(str)

# Convertir la columna 'game_date' a formato de fecha
Juego['game_date'] = pd.to_datetime(Juego['game_date'], errors='coerce')

# Convertir las columnas con posibles valores numéricos a tipo float
numerical_columns = [
    'fgm_home', 'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home', 'ftm_home', 'fta_home',
    'ft_pct_home', 'oreb_home', 'dreb_home', 'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home', 
    'pts_home', 'plus_minus_home', 'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away', 'fg3_pct_away', 
    'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away', 'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 
    'tov_away', 'pf_away', 'pts_away', 'plus_minus_away', 'season_id'
]

# Convertir a float
Juego[numerical_columns] = Juego[numerical_columns].apply(pd.to_numeric, errors='coerce')

# Convertir las demás columnas relevantes a tipo string
categorical_columns = [
    'team_id_home', 'team_abbreviation_home', 'team_name_home', 'matchup_home', 'wl_home', 'video_available_home',
    'team_id_away', 'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away', 'video_available_away', 
    'season_type'
]
Juego[categorical_columns] = Juego[categorical_columns].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'season_id': types.FLOAT,
    'team_id_home': types.INTEGER,
    'team_abbreviation_home': types.VARCHAR(length=10),
    'team_name_home': types.VARCHAR(length=50),
    'game_id': types.INTEGER,  # Se usará como PK
    'game_date': types.DATE,
    'matchup_home': types.VARCHAR(length=100),
    'wl_home': types.VARCHAR(length=10),
    'min': types.FLOAT,
    'fgm_home': types.FLOAT,
    'fga_home': types.FLOAT,
    'fg_pct_home': types.FLOAT,
    'fg3m_home': types.FLOAT,
    'fg3a_home': types.FLOAT,
    'fg3_pct_home': types.FLOAT,
    'ftm_home': types.FLOAT,
    'fta_home': types.FLOAT,
    'ft_pct_home': types.FLOAT,
    'oreb_home': types.FLOAT,
    'dreb_home': types.FLOAT,
    'reb_home': types.FLOAT,
    'ast_home': types.FLOAT,
    'stl_home': types.FLOAT,
    'blk_home': types.FLOAT,
    'tov_home': types.FLOAT,
    'pf_home': types.FLOAT,
    'pts_home': types.FLOAT,
    'plus_minus_home': types.FLOAT,
    'video_available_home': types.VARCHAR(length=10),
    'team_id_away': types.INTEGER,
    'team_abbreviation_away': types.VARCHAR(length=10),
    'team_name_away': types.VARCHAR(length=50),
    'matchup_away': types.VARCHAR(length=100),
    'wl_away': types.VARCHAR(length=10),
    'fgm_away': types.FLOAT,
    'fga_away': types.FLOAT,
    'fg_pct_away': types.FLOAT,
    'fg3m_away': types.FLOAT,
    'fg3a_away': types.FLOAT,
    'fg3_pct_away': types.FLOAT,
    'ftm_away': types.FLOAT,
    'fta_away': types.FLOAT,
    'ft_pct_away': types.FLOAT,
    'oreb_away': types.FLOAT,
    'dreb_away': types.FLOAT,
    'reb_away': types.FLOAT,
    'ast_away': types.FLOAT,
    'stl_away': types.FLOAT,
    'blk_away': types.FLOAT,
    'tov_away': types.FLOAT,
    'pf_away': types.FLOAT,
    'pts_away': types.FLOAT,
    'plus_minus_away': types.FLOAT,
    'video_available_away': types.VARCHAR(length=10),
    'season_type': types.VARCHAR(length=10)
}

# Exportar el DataFrame a una tabla SQL llamada Juego
Juego.to_sql('Juego', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla Juego en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que game_id es NOT NULL
with engine.connect() as connection:
    # Establecer game_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE Juego
        ALTER COLUMN game_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla Juego
    connection.execute(text("""
        ALTER TABLE Juego
        ADD CONSTRAINT PK_game_id PRIMARY KEY (game_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'game_id':
       season_id  team_id_home  team_abbreviation_home  team_name_home  \
1918       31950    1610616833                     NaN             NaN
1919       31950    1610616833                     NaN             NaN
2275       31951    1610616833                     NaN             NaN
2276       31951    1610616833                     NaN             NaN
2651       31952    1610616833                     NaN             NaN
...          ...           ...                     ...             ...
60568      32018    1610616833                     NaN             NaN
62926      32020    1610616833                     NaN             NaN
62927      32020    1610616833                     NaN             NaN
65696      32022    1610616834                     NaN             NaN
65697      32022    1610616834                     NaN             NaN

        game_id   game_date  matchup_home  wl_home  min  fgm_home  ...  \
1918   35000001  1951-03-02           NaN      NaN  240      43.0  ...
1919   35000001  1951-03-02           NaN      NaN  240      43.0  ...
2275   35100001  1952-02-11           NaN      NaN  240      39.0  ...
2276   35100001  1952-02-11           NaN      NaN  240      39.0  ...
2651   35200001  1953-01-13           NaN      NaN  240      25.0  ...
...         ...         ...           ...      ...  ...       ...  ...
60568  31800001  2019-02-17           NaN      NaN  240      66.0  ...
62926  32000001  2021-03-07           NaN      NaN  240      60.0  ...
62927  32000001  2021-03-07           NaN      NaN  240      60.0  ...
65696  32200001  2023-02-19           NaN      NaN  221      79.0  ...
65697  32200001  2023-02-19           NaN      NaN  221      79.0  ...

       reb_away ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  \
1918       60.0     27.0       0.0       0.0       0.0     25.0      94.0
1919       60.0     27.0       0.0       0.0       0.0     25.0      94.0
2275       59.0     27.0       0.0       0.0       0.0     28.0      91.0
2276       59.0     27.0       0.0       0.0       0.0     28.0      91.0
2651       59.0     26.0       0.0       0.0       0.0     23.0      79.0
...         ...      ...       ...       ...       ...      ...       ...
60568      64.0     42.0       9.0       6.0       9.0      9.0     178.0
62926      48.0     46.0       9.0       3.0      18.0      8.0     170.0
62927      48.0     46.0       9.0       3.0      18.0      8.0     170.0
65696      46.0     43.0       8.0       1.0      12.0      2.0     184.0
65697      46.0     43.0       8.0       1.0      12.0      2.0     184.0

       plus_minus_away  video_available_away  season_type
1918               -17                     0          NaN
1919               -17                     0          NaN
2275               -17                     0          NaN
2276               -17                     0          NaN
2651                 4                     0          NaN
...                ...                   ...          ...
60568               14                     0          NaN
62926               20                     1          NaN
62927               20                     1          NaN
65696                9                     1          NaN
65697                9                     1          NaN

[112 rows x 55 columns]
Duplicados eliminados.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\4233136460.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Juego['game_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla Juego en la base de datos NBA
Clave primaria agregada exitosamente.

In [36]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
Juego = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\Juego_transformado.csv')

# Verificar y eliminar duplicados en la columna 'game_id'
if 'game_id' in Juego.columns:
    duplicados = Juego[Juego.duplicated(subset=['game_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'game_id':")
        print(duplicados)
        # Eliminar duplicados
        Juego = Juego.drop_duplicates(subset=['game_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'game_id' no existe en el DataFrame.")

# Asegurar que la columna 'game_id' no tenga valores nulos y convertir a string
Juego['game_id'].fillna('0', inplace=True)
Juego['game_id'] = Juego['game_id'].astype(str)

# Convertir la columna 'game_date' a formato de fecha
Juego['game_date'] = pd.to_datetime(Juego['game_date'], errors='coerce')

# Convertir las columnas con posibles valores numéricos a tipo float
numerical_columns = [
    'fgm_home', 'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home', 'ftm_home', 'fta_home',
    'ft_pct_home', 'oreb_home', 'dreb_home', 'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home', 
    'pts_home', 'plus_minus_home', 'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away', 'fg3_pct_away', 
    'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away', 'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 
    'tov_away', 'pf_away', 'pts_away', 'plus_minus_away', 'season_id'
]

# Convertir a float
Juego[numerical_columns] = Juego[numerical_columns].apply(pd.to_numeric, errors='coerce')

# Convertir las demás columnas relevantes a tipo string
categorical_columns = [
    'team_id_home', 'team_abbreviation_home', 'team_name_home', 'matchup_home', 'wl_home', 'video_available_home',
    'team_id_away', 'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away', 'video_available_away', 
    'season_type'
]
Juego[categorical_columns] = Juego[categorical_columns].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'season_id': types.FLOAT,
    'team_id_home': types.INTEGER,
    'team_abbreviation_home': types.VARCHAR(length=10),
    'team_name_home': types.VARCHAR(length=50),
    'game_id': types.INTEGER,  # Se usará como PK
    'game_date': types.DATE,
    'matchup_home': types.VARCHAR(length=100),
    'wl_home': types.VARCHAR(length=10),
    'min': types.FLOAT,
    'fgm_home': types.FLOAT,
    'fga_home': types.FLOAT,
    'fg_pct_home': types.FLOAT,
    'fg3m_home': types.FLOAT,
    'fg3a_home': types.FLOAT,
    'fg3_pct_home': types.FLOAT,
    'ftm_home': types.FLOAT,
    'fta_home': types.FLOAT,
    'ft_pct_home': types.FLOAT,
    'oreb_home': types.FLOAT,
    'dreb_home': types.FLOAT,
    'reb_home': types.FLOAT,
    'ast_home': types.FLOAT,
    'stl_home': types.FLOAT,
    'blk_home': types.FLOAT,
    'tov_home': types.FLOAT,
    'pf_home': types.FLOAT,
    'pts_home': types.FLOAT,
    'plus_minus_home': types.FLOAT,
    'video_available_home': types.VARCHAR(length=10),
    'team_id_away': types.INTEGER,
    'team_abbreviation_away': types.VARCHAR(length=10),
    'team_name_away': types.VARCHAR(length=50),
    'matchup_away': types.VARCHAR(length=100),
    'wl_away': types.VARCHAR(length=10),
    'fgm_away': types.FLOAT,
    'fga_away': types.FLOAT,
    'fg_pct_away': types.FLOAT,
    'fg3m_away': types.FLOAT,
    'fg3a_away': types.FLOAT,
    'fg3_pct_away': types.FLOAT,
    'ftm_away': types.FLOAT,
    'fta_away': types.FLOAT,
    'ft_pct_away': types.FLOAT,
    'oreb_away': types.FLOAT,
    'dreb_away': types.FLOAT,
    'reb_away': types.FLOAT,
    'ast_away': types.FLOAT,
    'stl_away': types.FLOAT,
    'blk_away': types.FLOAT,
    'tov_away': types.FLOAT,
    'pf_away': types.FLOAT,
    'pts_away': types.FLOAT,
    'plus_minus_away': types.FLOAT,
    'video_available_away': types.VARCHAR(length=10),
    'season_type': types.VARCHAR(length=10)
}

# Exportar el DataFrame a una tabla SQL llamada Juego
Juego.to_sql('Juego', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla Juego en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que game_id es NOT NULL
with engine.connect() as connection:
    # Establecer game_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE Juego
        ALTER COLUMN game_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla Juego
    connection.execute(text("""
        ALTER TABLE Juego
        ADD CONSTRAINT PK_game_id PRIMARY KEY (game_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'game_id':
       season_id  team_id_home  team_abbreviation_home  team_name_home  \
1918       31950    1610616833                     NaN             NaN
1919       31950    1610616833                     NaN             NaN
2275       31951    1610616833                     NaN             NaN
2276       31951    1610616833                     NaN             NaN
2651       31952    1610616833                     NaN             NaN
...          ...           ...                     ...             ...
60568      32018    1610616833                     NaN             NaN
62926      32020    1610616833                     NaN             NaN
62927      32020    1610616833                     NaN             NaN
65696      32022    1610616834                     NaN             NaN
65697      32022    1610616834                     NaN             NaN

        game_id   game_date  matchup_home  wl_home  min  fgm_home  ...  \
1918   35000001  1951-03-02           NaN      NaN  240      43.0  ...
1919   35000001  1951-03-02           NaN      NaN  240      43.0  ...
2275   35100001  1952-02-11           NaN      NaN  240      39.0  ...
2276   35100001  1952-02-11           NaN      NaN  240      39.0  ...
2651   35200001  1953-01-13           NaN      NaN  240      25.0  ...
...         ...         ...           ...      ...  ...       ...  ...
60568  31800001  2019-02-17           NaN      NaN  240      66.0  ...
62926  32000001  2021-03-07           NaN      NaN  240      60.0  ...
62927  32000001  2021-03-07           NaN      NaN  240      60.0  ...
65696  32200001  2023-02-19           NaN      NaN  221      79.0  ...
65697  32200001  2023-02-19           NaN      NaN  221      79.0  ...

       reb_away ast_away  stl_away  blk_away  tov_away  pf_away  pts_away  \
1918       60.0     27.0       0.0       0.0       0.0     25.0      94.0
1919       60.0     27.0       0.0       0.0       0.0     25.0      94.0
2275       59.0     27.0       0.0       0.0       0.0     28.0      91.0
2276       59.0     27.0       0.0       0.0       0.0     28.0      91.0
2651       59.0     26.0       0.0       0.0       0.0     23.0      79.0
...         ...      ...       ...       ...       ...      ...       ...
60568      64.0     42.0       9.0       6.0       9.0      9.0     178.0
62926      48.0     46.0       9.0       3.0      18.0      8.0     170.0
62927      48.0     46.0       9.0       3.0      18.0      8.0     170.0
65696      46.0     43.0       8.0       1.0      12.0      2.0     184.0
65697      46.0     43.0       8.0       1.0      12.0      2.0     184.0

       plus_minus_away  video_available_away  season_type
1918               -17                     0          NaN
1919               -17                     0          NaN
2275               -17                     0          NaN
2276               -17                     0          NaN
2651                 4                     0          NaN
...                ...                   ...          ...
60568               14                     0          NaN
62926               20                     1          NaN
62927               20                     1          NaN
65696                9                     1          NaN
65697                9                     1          NaN

[112 rows x 55 columns]
Duplicados eliminados.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\4233136460.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Juego['game_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla Juego en la base de datos NBA
Clave primaria agregada exitosamente.

In [37]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
Jugador = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\Jugador_transformado.csv')

# Verificar y eliminar duplicados en la columna 'id'
if 'id' in Jugador.columns:
    duplicados = Jugador[Jugador.duplicated(subset=['id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'id':")
        print(duplicados)
        # Eliminar duplicados
        Jugador = Jugador.drop_duplicates(subset=['id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'id' no existe en el DataFrame.")

# Asegurar que la columna 'id' no tenga valores nulos y convertir a string
Jugador['id'].fillna('0', inplace=True)
Jugador['id'] = Jugador['id'].astype(str)

# Convertir las columnas relevantes a tipo string
Jugador['full_name'] = Jugador['full_name'].astype(str)
Jugador['first_name'] = Jugador['first_name'].astype(str)
Jugador['last_name'] = Jugador['last_name'].astype(str)

# Asegurarse de que 'is_active' sea un tipo numérico (0 o 1)
Jugador['is_active'] = pd.to_numeric(Jugador['is_active'], errors='coerce')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'id': types.INTEGER,  # Se usará como PK
    'full_name': types.VARCHAR(length=100),
    'first_name': types.VARCHAR(length=50),
    'last_name': types.VARCHAR(length=50),
    'is_active': types.INTEGER
}

# Exportar el DataFrame a una tabla SQL llamada Jugador
Jugador.to_sql('Jugador', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla Jugador en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que id es NOT NULL
with engine.connect() as connection:
    # Establecer id como NOT NULL
    connection.execute(text("""
        ALTER TABLE Jugador
        ALTER COLUMN id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla Jugador
    connection.execute(text("""
        ALTER TABLE Jugador
        ADD CONSTRAINT PK_id PRIMARY KEY (id);
    """))

print("Clave primaria agregada exitosamente.")

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\689647566.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Jugador['id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla Jugador en la base de datos NBA
Clave primaria agregada exitosamente.

In [38]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
JugadoresInactivos = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\JugadoresInactivos_transformado.csv')

# Verificar y eliminar duplicados en la columna 'game_id'
if 'game_id' in JugadoresInactivos.columns:
    duplicados = JugadoresInactivos[JugadoresInactivos.duplicated(subset=['game_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'game_id':")
        print(duplicados)
        # Eliminar duplicados
        JugadoresInactivos = JugadoresInactivos.drop_duplicates(subset=['game_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'game_id' no existe en el DataFrame.")

# Asegurar que la columna 'game_id' no tenga valores nulos y convertir a string
JugadoresInactivos['game_id'].fillna('0', inplace=True)
JugadoresInactivos['game_id'] = JugadoresInactivos['game_id'].astype(str)

# Asegurar que la columna 'player_id' no tenga valores nulos y convertir a string
JugadoresInactivos['player_id'].fillna('0', inplace=True)
JugadoresInactivos['player_id'] = JugadoresInactivos['player_id'].astype(str)

# Convertir las columnas relevantes a tipo string
JugadoresInactivos['first_name'] = JugadoresInactivos['first_name'].astype(str)
JugadoresInactivos['last_name'] = JugadoresInactivos['last_name'].astype(str)
JugadoresInactivos['team_city'] = JugadoresInactivos['team_city'].astype(str)
JugadoresInactivos['team_name'] = JugadoresInactivos['team_name'].astype(str)
JugadoresInactivos['team_abbreviation'] = JugadoresInactivos['team_abbreviation'].astype(str)

# Convertir las columnas numéricas a tipo float o int
JugadoresInactivos['jersey_num'] = pd.to_numeric(JugadoresInactivos['jersey_num'], errors='coerce')
JugadoresInactivos['team_id'] = pd.to_numeric(JugadoresInactivos['team_id'], errors='coerce')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'game_id': types.INTEGER,  # Se usará como PK
    'player_id': types.INTEGER,
    'first_name': types.VARCHAR(length=50),
    'last_name': types.VARCHAR(length=50),
    'jersey_num': types.FLOAT,
    'team_id': types.INTEGER,
    'team_city': types.VARCHAR(length=50),
    'team_name': types.VARCHAR(length=50),
    'team_abbreviation': types.VARCHAR(length=10)
}

# Exportar el DataFrame a una tabla SQL llamada JugadoresInactivos
JugadoresInactivos.to_sql('JugadoresInactivos', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla JugadoresInactivos en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que game_id es NOT NULL
with engine.connect() as connection:
    # Establecer game_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE JugadoresInactivos
        ALTER COLUMN game_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla JugadoresInactivos
    connection.execute(text("""
        ALTER TABLE JugadoresInactivos
        ADD CONSTRAINT PK_game_id PRIMARY KEY (game_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'game_id':
         game_id  player_id  first_name  last_name  jersey_num     team_id  \
0       29600034        184         NaN        NaN        14.0  1610612739
1       29600034        781         NaN        NaN        41.0  1610612759
8       29600335        420         NaN        NaN        55.0  1610612751
9       29600335        762         NaN        NaN        45.0  1610612751
17      29600593        168         NaN        NaN        24.0  1610612739
...          ...        ...         ...        ...         ...         ...
110186  32200001    1629627         NaN        NaN         1.0  1610616834
110187  32200001     201939         NaN        NaN        30.0  1610616834
110188  32200001     201142         NaN        NaN        35.0  1610616833
110189  32200001    1629627         NaN        NaN         1.0  1610616834
110190  32200001     201939         NaN        NaN        30.0  1610616834

        team_city  team_name  team_abbreviation
0             NaN        NaN                NaN
1             NaN        NaN                NaN
8             NaN        NaN                NaN
9             NaN        NaN                NaN
17            NaN        NaN                NaN
...           ...        ...                ...
110186        NaN        NaN                NaN
110187        NaN        NaN                NaN
110188        NaN        NaN                NaN
110189        NaN        NaN                NaN
110190        NaN        NaN                NaN

[109749 rows x 9 columns]
Duplicados eliminados.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\3666948597.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  JugadoresInactivos['game_id'].fillna('0', inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\3666948597.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  JugadoresInactivos['player_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla JugadoresInactivos en la base de datos NBA
Clave primaria agregada exitosamente.

In [39]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
Oficiales = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\Oficiales_transformado.csv')

# Verificar y eliminar duplicados en la columna 'game_id'
if 'game_id' in Oficiales.columns:
    duplicados = Oficiales[Oficiales.duplicated(subset=['game_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'game_id':")
        print(duplicados)
        # Eliminar duplicados
        Oficiales = Oficiales.drop_duplicates(subset=['game_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'game_id' no existe en el DataFrame.")

# Asegurar que la columna 'game_id' no tenga valores nulos y convertir a string
Oficiales['game_id'].fillna('0', inplace=True)
Oficiales['game_id'] = Oficiales['game_id'].astype(str)

# Asegurar que la columna 'official_id' no tenga valores nulos y convertir a string
Oficiales['official_id'].fillna('0', inplace=True)
Oficiales['official_id'] = Oficiales['official_id'].astype(str)

# Convertir las columnas relevantes a tipo string
Oficiales['first_name'] = Oficiales['first_name'].astype(str)
Oficiales['last_name'] = Oficiales['last_name'].astype(str)

# Convertir la columna jersey_num a tipo float
Oficiales['jersey_num'] = pd.to_numeric(Oficiales['jersey_num'], errors='coerce')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'game_id': types.INTEGER,  # Se usará como PK
    'official_id': types.INTEGER,
    'first_name': types.VARCHAR(length=50),
    'last_name': types.VARCHAR(length=50),
    'jersey_num': types.FLOAT
}

# Exportar el DataFrame a una tabla SQL llamada Oficiales
Oficiales.to_sql('Oficiales', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla Oficiales en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que game_id es NOT NULL
with engine.connect() as connection:
    # Establecer game_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE Oficiales
        ALTER COLUMN game_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla Oficiales
    connection.execute(text("""
        ALTER TABLE Oficiales
        ADD CONSTRAINT PK_game_id PRIMARY KEY (game_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'game_id':
        game_id  official_id  first_name  last_name  jersey_num
0      29600059         1140         NaN        NaN         9.0
1      29600059         1165         NaN        NaN         8.0
2      29600059         1153         NaN        NaN        17.0
3      29600114         1147         NaN        NaN        24.0
4      29600114         1142         NaN        NaN        27.0
...         ...          ...         ...        ...         ...
70966  32200001       200834         NaN        NaN        29.0
70967  32200001         1193         NaN        NaN        38.0
70968  32200001       101284         NaN        NaN        10.0
70969  32200001       200834         NaN        NaN        29.0
70970  32200001         1193         NaN        NaN        38.0

[70971 rows x 5 columns]
Duplicados eliminados.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\751348073.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Oficiales['game_id'].fillna('0', inplace=True)
C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\751348073.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Oficiales['official_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla Oficiales en la base de datos NBA
Clave primaria agregada exitosamente.

In [40]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
OtrasEstadisticas = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\OtrasEstadisticas_transformado.csv')

# Verificar y eliminar duplicados en la columna 'game_id'
if 'game_id' in OtrasEstadisticas.columns:
    duplicados = OtrasEstadisticas[OtrasEstadisticas.duplicated(subset=['game_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'game_id':")
        print(duplicados)
        # Eliminar duplicados
        OtrasEstadisticas = OtrasEstadisticas.drop_duplicates(subset=['game_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'game_id' no existe en el DataFrame.")

# Asegurar que la columna 'game_id' no tenga valores nulos y convertir a string
OtrasEstadisticas['game_id'].fillna('0', inplace=True)
OtrasEstadisticas['game_id'] = OtrasEstadisticas['game_id'].astype(str)

# Asegurar que las columnas relevantes de 'team_id_home' y 'team_id_away' no tengan valores nulos y convertir a enteros
OtrasEstadisticas['team_id_home'] = pd.to_numeric(OtrasEstadisticas['team_id_home'], errors='coerce')
OtrasEstadisticas['team_id_away'] = pd.to_numeric(OtrasEstadisticas['team_id_away'], errors='coerce')

# Convertir las demás columnas relevantes a tipo float
numeric_columns = [
    'pts_paint_home', 'pts_2nd_chance_home', 'pts_fb_home', 'largest_lead_home', 'lead_changes', 'times_tied', 
    'team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home', 'pts_off_to_home',
    'pts_paint_away', 'pts_2nd_chance_away', 'pts_fb_away', 'largest_lead_away', 'team_turnovers_away',
    'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'
]

OtrasEstadisticas[numeric_columns] = OtrasEstadisticas[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Convertir las columnas de texto a tipo string
categorical_columns = [
    'league_id', 'team_abbreviation_home', 'team_city_home', 'team_abbreviation_away', 'team_city_away'
]

OtrasEstadisticas[categorical_columns] = OtrasEstadisticas[categorical_columns].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'game_id': types.INTEGER,  # Se usará como PK
    'league_id': types.INTEGER,
    'team_id_home': types.INTEGER,
    'team_abbreviation_home': types.VARCHAR(length=10),
    'team_city_home': types.VARCHAR(length=50),
    'pts_paint_home': types.FLOAT,
    'pts_2nd_chance_home': types.FLOAT,
    'pts_fb_home': types.FLOAT,
    'largest_lead_home': types.FLOAT,
    'lead_changes': types.FLOAT,
    'times_tied': types.FLOAT,
    'team_turnovers_home': types.FLOAT,
    'total_turnovers_home': types.FLOAT,
    'team_rebounds_home': types.FLOAT,
    'pts_off_to_home': types.FLOAT,
    'team_id_away': types.INTEGER,
    'team_abbreviation_away': types.VARCHAR(length=10),
    'team_city_away': types.VARCHAR(length=50),
    'pts_paint_away': types.FLOAT,
    'pts_2nd_chance_away': types.FLOAT,
    'pts_fb_away': types.FLOAT,
    'largest_lead_away': types.FLOAT,
    'team_turnovers_away': types.FLOAT,
    'total_turnovers_away': types.FLOAT,
    'team_rebounds_away': types.FLOAT,
    'pts_off_to_away': types.FLOAT
}

# Exportar el DataFrame a una tabla SQL llamada OtrasEstadisticas
OtrasEstadisticas.to_sql('OtrasEstadisticas', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla OtrasEstadisticas en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que game_id es NOT NULL
with engine.connect() as connection:
    # Establecer game_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE OtrasEstadisticas
        ALTER COLUMN game_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla OtrasEstadisticas
    connection.execute(text("""
        ALTER TABLE OtrasEstadisticas
        ADD CONSTRAINT PK_game_id PRIMARY KEY (game_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'game_id':
        game_id  league_id  team_id_home  team_abbreviation_home  \
1022   39600001          0    1610616834                     NaN
1023   39600001          0    1610616834                     NaN
3745   39900001          0    1610616833                     NaN
3746   39900001          0    1610616833                     NaN
6860   30200001          0    1610616834                     NaN
6861   30200001          0    1610616834                     NaN
14417  30900001          0    1610616833                     NaN
14418  30900001          0    1610616833                     NaN
15652  31000001          0    1610616834                     NaN
15653  31000001          0    1610616834                     NaN
16746  31200001          0    1610616833                     NaN
16747  31200001          0    1610616833                     NaN
19193  31400001          0    1610616834                     NaN
19194  31400001          0    1610616834                     NaN
21610  31600001          0    1610616834                     NaN
21611  31600001          0    1610616834                     NaN
23900  31800001          0    1610616833                     NaN
23901  31800001          0    1610616833                     NaN
28269  32200001          0    1610616834                     NaN
28270  32200001          0    1610616834                     NaN

       team_city_home  pts_paint_home  pts_2nd_chance_home  pts_fb_home  \
1022              NaN              74                   10           26
1023              NaN              74                   10           26
3745              NaN              54                   29           21
3746              NaN              54                   29           21
6860              NaN              88                   21           32
6861              NaN              88                   21           32
14417             NaN              88                   11           56
14418             NaN              88                   11           56
15652             NaN              80                   35           43
15653             NaN              80                   35           43
16746             NaN              66                   15           21
16747             NaN              66                   15           21
19193             NaN              68                   22           59
19194             NaN              68                   22           59
21610             NaN             120                   23          106
21611             NaN             120                   23          106
23900             NaN              78                   26           37
23901             NaN              78                   26           37
28269             NaN             118                   15           27
28270             NaN             118                   15           27

       largest_lead_home  lead_changes  ...  team_abbreviation_away  \
1022                  23             4  ...                     NaN
1023                  23             4  ...                     NaN
3745                   2             2  ...                     NaN
3746                   2             2  ...                     NaN
6860                  11            26  ...                     NaN
6861                  11            26  ...                     NaN
14417                 16            13  ...                     NaN
14418                 16            13  ...                     NaN
15652                 17             1  ...                     NaN
15653                 17             1  ...                     NaN
16746                  2            22  ...                     NaN
16747                  2            22  ...                     NaN
19193                 20            17  ...                     NaN
19194                 20            17  ...                     NaN
21610                 15            16  ...                     NaN
21611                 15            16  ...                     NaN
23900                 20             9  ...                     NaN
23901                 20             9  ...                     NaN
28269                  4            24  ...                     NaN
28270                  4            24  ...                     NaN

       team_city_away  pts_paint_away  pts_2nd_chance_away  pts_fb_away  \
1022              NaN              80                   38           24
1023              NaN              80                   38           24
3745              NaN              86                   34           26
3746              NaN              86                   34           26
6860              NaN              64                   15           31
6861              NaN              64                   15           31
14417             NaN              74                   21           24
14418             NaN              74                   21           24
15652             NaN              86                   22           53
15653             NaN              86                   22           53
16746             NaN              88                   13           38
16747             NaN              88                   13           38
19193             NaN              82                   25           61
19194             NaN              82                   25           61
21610             NaN             106                   14          107
21611             NaN             106                   14          107
23900             NaN              62                   19           33
23901             NaN              62                   19           33
28269             NaN              88                   14           33
28270             NaN              88                   14           33

       largest_lead_away  team_turnovers_away  total_turnovers_away  \
1022                  18                  NaN                   NaN
1023                  18                  NaN                   NaN
3745                  17                  1.0                  22.0
3746                  17                  1.0                  22.0
6860                  10                  1.0                  23.0
6861                  10                  1.0                  23.0
14417                  7                  0.0                  23.0
14418                  7                  0.0                  23.0
15652                  4                  0.0                  21.0
15653                  4                  0.0                  21.0
16746                 11                  0.0                  15.0
16747                 11                  0.0                  15.0
19193                  4                  0.0                  18.0
19194                  4                  0.0                  18.0
21610                  8                  0.0                  19.0
21611                  8                  0.0                  19.0
23900                 16                  0.0                   9.0
23901                 16                  0.0                   9.0
28269                 19                  0.0                  12.0
28270                 19                  0.0                  12.0

       team_rebounds_away  pts_off_to_away
1022                  NaN              NaN
1023                  NaN              NaN
3745                  5.0             24.0
3746                  5.0             24.0
6860                 11.0             31.0
6861                 11.0             31.0
14417                 7.0             31.0
14418                 7.0             31.0
15652                11.0             29.0
15653                11.0             29.0
16746                 7.0             26.0
16747                 7.0             26.0
19193                 6.0             18.0
19194                 6.0             18.0
21610                 4.0             25.0
21611                 4.0             25.0
23900                 5.0             12.0
23901                 5.0             12.0
28269                 3.0             20.0
28270                 3.0             20.0

[20 rows x 26 columns]
Duplicados eliminados.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\103853998.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  OtrasEstadisticas['game_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla OtrasEstadisticas en la base de datos NBA
Clave primaria agregada exitosamente.

In [41]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
OtrasEstadisticas = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\OtrasEstadisticas_transformado.csv')

# Verificar y eliminar duplicados en la columna 'game_id'
if 'game_id' in OtrasEstadisticas.columns:
    duplicados = OtrasEstadisticas[OtrasEstadisticas.duplicated(subset=['game_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'game_id':")
        print(duplicados)
        # Eliminar duplicados
        OtrasEstadisticas = OtrasEstadisticas.drop_duplicates(subset=['game_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'game_id' no existe en el DataFrame.")

# Asegurar que la columna 'game_id' no tenga valores nulos y convertir a string
OtrasEstadisticas['game_id'].fillna('0', inplace=True)
OtrasEstadisticas['game_id'] = OtrasEstadisticas['game_id'].astype(str)

# Asegurar que las columnas relevantes de 'team_id_home' y 'team_id_away' no tengan valores nulos y convertir a enteros
OtrasEstadisticas['team_id_home'] = pd.to_numeric(OtrasEstadisticas['team_id_home'], errors='coerce')
OtrasEstadisticas['team_id_away'] = pd.to_numeric(OtrasEstadisticas['team_id_away'], errors='coerce')

# Convertir las demás columnas relevantes a tipo float
numeric_columns = [
    'pts_paint_home', 'pts_2nd_chance_home', 'pts_fb_home', 'largest_lead_home', 'lead_changes', 'times_tied', 
    'team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home', 'pts_off_to_home',
    'pts_paint_away', 'pts_2nd_chance_away', 'pts_fb_away', 'largest_lead_away', 'team_turnovers_away',
    'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'
]

OtrasEstadisticas[numeric_columns] = OtrasEstadisticas[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Convertir las columnas de texto a tipo string
categorical_columns = [
    'league_id', 'team_abbreviation_home', 'team_city_home', 'team_abbreviation_away', 'team_city_away'
]

OtrasEstadisticas[categorical_columns] = OtrasEstadisticas[categorical_columns].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'game_id': types.INTEGER,  # Se usará como PK
    'league_id': types.INTEGER,
    'team_id_home': types.INTEGER,
    'team_abbreviation_home': types.VARCHAR(length=10),
    'team_city_home': types.VARCHAR(length=50),
    'pts_paint_home': types.FLOAT,
    'pts_2nd_chance_home': types.FLOAT,
    'pts_fb_home': types.FLOAT,
    'largest_lead_home': types.FLOAT,
    'lead_changes': types.FLOAT,
    'times_tied': types.FLOAT,
    'team_turnovers_home': types.FLOAT,
    'total_turnovers_home': types.FLOAT,
    'team_rebounds_home': types.FLOAT,
    'pts_off_to_home': types.FLOAT,
    'team_id_away': types.INTEGER,
    'team_abbreviation_away': types.VARCHAR(length=10),
    'team_city_away': types.VARCHAR(length=50),
    'pts_paint_away': types.FLOAT,
    'pts_2nd_chance_away': types.FLOAT,
    'pts_fb_away': types.FLOAT,
    'largest_lead_away': types.FLOAT,
    'team_turnovers_away': types.FLOAT,
    'total_turnovers_away': types.FLOAT,
    'team_rebounds_away': types.FLOAT,
    'pts_off_to_away': types.FLOAT
}

# Exportar el DataFrame a una tabla SQL llamada OtrasEstadisticas
OtrasEstadisticas.to_sql('OtrasEstadisticas', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla OtrasEstadisticas en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que game_id es NOT NULL
with engine.connect() as connection:
    # Establecer game_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE OtrasEstadisticas
        ALTER COLUMN game_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla OtrasEstadisticas
    connection.execute(text("""
        ALTER TABLE OtrasEstadisticas
        ADD CONSTRAINT PK_game_id PRIMARY KEY (game_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'game_id':
        game_id  league_id  team_id_home  team_abbreviation_home  \
1022   39600001          0    1610616834                     NaN
1023   39600001          0    1610616834                     NaN
3745   39900001          0    1610616833                     NaN
3746   39900001          0    1610616833                     NaN
6860   30200001          0    1610616834                     NaN
6861   30200001          0    1610616834                     NaN
14417  30900001          0    1610616833                     NaN
14418  30900001          0    1610616833                     NaN
15652  31000001          0    1610616834                     NaN
15653  31000001          0    1610616834                     NaN
16746  31200001          0    1610616833                     NaN
16747  31200001          0    1610616833                     NaN
19193  31400001          0    1610616834                     NaN
19194  31400001          0    1610616834                     NaN
21610  31600001          0    1610616834                     NaN
21611  31600001          0    1610616834                     NaN
23900  31800001          0    1610616833                     NaN
23901  31800001          0    1610616833                     NaN
28269  32200001          0    1610616834                     NaN
28270  32200001          0    1610616834                     NaN

       team_city_home  pts_paint_home  pts_2nd_chance_home  pts_fb_home  \
1022              NaN              74                   10           26
1023              NaN              74                   10           26
3745              NaN              54                   29           21
3746              NaN              54                   29           21
6860              NaN              88                   21           32
6861              NaN              88                   21           32
14417             NaN              88                   11           56
14418             NaN              88                   11           56
15652             NaN              80                   35           43
15653             NaN              80                   35           43
16746             NaN              66                   15           21
16747             NaN              66                   15           21
19193             NaN              68                   22           59
19194             NaN              68                   22           59
21610             NaN             120                   23          106
21611             NaN             120                   23          106
23900             NaN              78                   26           37
23901             NaN              78                   26           37
28269             NaN             118                   15           27
28270             NaN             118                   15           27

       largest_lead_home  lead_changes  ...  team_abbreviation_away  \
1022                  23             4  ...                     NaN
1023                  23             4  ...                     NaN
3745                   2             2  ...                     NaN
3746                   2             2  ...                     NaN
6860                  11            26  ...                     NaN
6861                  11            26  ...                     NaN
14417                 16            13  ...                     NaN
14418                 16            13  ...                     NaN
15652                 17             1  ...                     NaN
15653                 17             1  ...                     NaN
16746                  2            22  ...                     NaN
16747                  2            22  ...                     NaN
19193                 20            17  ...                     NaN
19194                 20            17  ...                     NaN
21610                 15            16  ...                     NaN
21611                 15            16  ...                     NaN
23900                 20             9  ...                     NaN
23901                 20             9  ...                     NaN
28269                  4            24  ...                     NaN
28270                  4            24  ...                     NaN

       team_city_away  pts_paint_away  pts_2nd_chance_away  pts_fb_away  \
1022              NaN              80                   38           24
1023              NaN              80                   38           24
3745              NaN              86                   34           26
3746              NaN              86                   34           26
6860              NaN              64                   15           31
6861              NaN              64                   15           31
14417             NaN              74                   21           24
14418             NaN              74                   21           24
15652             NaN              86                   22           53
15653             NaN              86                   22           53
16746             NaN              88                   13           38
16747             NaN              88                   13           38
19193             NaN              82                   25           61
19194             NaN              82                   25           61
21610             NaN             106                   14          107
21611             NaN             106                   14          107
23900             NaN              62                   19           33
23901             NaN              62                   19           33
28269             NaN              88                   14           33
28270             NaN              88                   14           33

       largest_lead_away  team_turnovers_away  total_turnovers_away  \
1022                  18                  NaN                   NaN
1023                  18                  NaN                   NaN
3745                  17                  1.0                  22.0
3746                  17                  1.0                  22.0
6860                  10                  1.0                  23.0
6861                  10                  1.0                  23.0
14417                  7                  0.0                  23.0
14418                  7                  0.0                  23.0
15652                  4                  0.0                  21.0
15653                  4                  0.0                  21.0
16746                 11                  0.0                  15.0
16747                 11                  0.0                  15.0
19193                  4                  0.0                  18.0
19194                  4                  0.0                  18.0
21610                  8                  0.0                  19.0
21611                  8                  0.0                  19.0
23900                 16                  0.0                   9.0
23901                 16                  0.0                   9.0
28269                 19                  0.0                  12.0
28270                 19                  0.0                  12.0

       team_rebounds_away  pts_off_to_away
1022                  NaN              NaN
1023                  NaN              NaN
3745                  5.0             24.0
3746                  5.0             24.0
6860                 11.0             31.0
6861                 11.0             31.0
14417                 7.0             31.0
14418                 7.0             31.0
15652                11.0             29.0
15653                11.0             29.0
16746                 7.0             26.0
16747                 7.0             26.0
19193                 6.0             18.0
19194                 6.0             18.0
21610                 4.0             25.0
21611                 4.0             25.0
23900                 5.0             12.0
23901                 5.0             12.0
28269                 3.0             20.0
28270                 3.0             20.0

[20 rows x 26 columns]
Duplicados eliminados.

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\103853998.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  OtrasEstadisticas['game_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla OtrasEstadisticas en la base de datos NBA
Clave primaria agregada exitosamente.

In [42]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
PuntuacionDeLinea = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\PuntuacionDeLinea_transformado.csv')

# Verificar y eliminar duplicados en la columna 'game_id'
if 'game_id' in PuntuacionDeLinea.columns:
    duplicados = PuntuacionDeLinea[PuntuacionDeLinea.duplicated(subset=['game_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'game_id':")
        print(duplicados)
        # Eliminar duplicados
        PuntuacionDeLinea = PuntuacionDeLinea.drop_duplicates(subset=['game_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'game_id' no existe en el DataFrame.")

# Asegurar que las columnas relevantes no tengan valores nulos y convertir los tipos de datos apropiados
PuntuacionDeLinea['game_id'] = PuntuacionDeLinea['game_id'].fillna('0').astype(str)
PuntuacionDeLinea['game_date_est'] = pd.to_datetime(PuntuacionDeLinea['game_date_est'], errors='coerce')

# Convertir columnas numéricas a tipo float y manejar valores nulos
numeric_columns = [
    'pts_qtr1_home', 'pts_qtr2_home', 'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home',
    'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home', 'pts_ot7_home', 'pts_ot8_home', 
    'pts_ot9_home', 'pts_ot10_home', 'pts_home', 'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 
    'pts_qtr4_away', 'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away', 'pts_ot5_away',
    'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away', 'pts_ot9_away', 'pts_ot10_away', 'pts_away'
]

PuntuacionDeLinea[numeric_columns] = PuntuacionDeLinea[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Convertir las columnas de texto a tipo string
categorical_columns = [
    'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home', 'team_wins_losses_home', 
    'team_abbreviation_away', 'team_city_name_away', 'team_nickname_away', 'team_wins_losses_away'
]

PuntuacionDeLinea[categorical_columns] = PuntuacionDeLinea[categorical_columns].astype(str)

# Asegurar que los identificadores de equipo sean enteros
PuntuacionDeLinea['team_id_home'] = pd.to_numeric(PuntuacionDeLinea['team_id_home'], errors='coerce')
PuntuacionDeLinea['team_id_away'] = pd.to_numeric(PuntuacionDeLinea['team_id_away'], errors='coerce')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'game_id': types.INTEGER,  # Se usará como PK
    'game_date_est': types.Date,
    'game_sequence': types.INTEGER,
    'team_id_home': types.INTEGER,
    'team_abbreviation_home': types.VARCHAR(length=10),
    'team_city_name_home': types.VARCHAR(length=50),
    'team_nickname_home': types.VARCHAR(length=50),
    'team_wins_losses_home': types.VARCHAR(length=10),
    'pts_qtr1_home': types.FLOAT,
    'pts_qtr2_home': types.FLOAT,
    'pts_qtr3_home': types.FLOAT,
    'pts_qtr4_home': types.FLOAT,
    'pts_ot1_home': types.FLOAT,
    'pts_ot2_home': types.FLOAT,
    'pts_ot3_home': types.FLOAT,
    'pts_ot4_home': types.FLOAT,
    'pts_ot5_home': types.FLOAT,
    'pts_ot6_home': types.FLOAT,
    'pts_ot7_home': types.FLOAT,
    'pts_ot8_home': types.FLOAT,
    'pts_ot9_home': types.FLOAT,
    'pts_ot10_home': types.FLOAT,
    'pts_home': types.FLOAT,
    'team_id_away': types.INTEGER,
    'team_abbreviation_away': types.VARCHAR(length=10),
    'team_city_name_away': types.VARCHAR(length=50),
    'team_nickname_away': types.VARCHAR(length=50),
    'team_wins_losses_away': types.VARCHAR(length=10),
    'pts_qtr1_away': types.FLOAT,
    'pts_qtr2_away': types.FLOAT,
    'pts_qtr3_away': types.FLOAT,
    'pts_qtr4_away': types.FLOAT,
    'pts_ot1_away': types.FLOAT,
    'pts_ot2_away': types.FLOAT,
    'pts_ot3_away': types.FLOAT,
    'pts_ot4_away': types.FLOAT,
    'pts_ot5_away': types.FLOAT,
    'pts_ot6_away': types.FLOAT,
    'pts_ot7_away': types.FLOAT,
    'pts_ot8_away': types.FLOAT,
    'pts_ot9_away': types.FLOAT,
    'pts_ot10_away': types.FLOAT,
    'pts_away': types.FLOAT
}

# Exportar el DataFrame a una tabla SQL llamada PuntuacionDeLinea
PuntuacionDeLinea.to_sql('PuntuacionDeLinea', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla PuntuacionDeLinea en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que game_id es NOT NULL
with engine.connect() as connection:
    # Establecer game_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE PuntuacionDeLinea
        ALTER COLUMN game_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla PuntuacionDeLinea
    connection.execute(text("""
        ALTER TABLE PuntuacionDeLinea
        ADD CONSTRAINT PK_game_id PRIMARY KEY (game_id);
    """))

print("Clave primaria agregada exitosamente.")

C:\Users\bianc\AppData\Local\Temp\ipykernel_12624\2573995447.py:6: DtypeWarning: Columns (7,27) have mixed types. Specify dtype option on import or set low_memory=False.
  PuntuacionDeLinea = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\PuntuacionDeLinea_transformado.csv')

Se encontraron duplicados en la columna 'game_id':
      game_date_est  game_sequence   game_id  team_id_home  \
1613     1951-03-02            1.0  35000001    1610616833
1614     1951-03-02            1.0  35000001    1610616833
1921     1952-02-11            1.0  35100001    1610616834
1922     1952-02-11            1.0  35100001    1610616834
2244     1953-01-13            1.0  35200001    1610616833
...             ...            ...       ...           ...
50922    2017-02-19            1.0  31600001    1610616834
53393    2019-02-17            1.0  31800001    1610616833
53394    2019-02-17            1.0  31800001    1610616833
58051    2023-02-19            1.0  32200001    1610616834
58052    2023-02-19            1.0  32200001    1610616834

       team_abbreviation_home  team_city_name_home  team_nickname_home  \
1613                      NaN                  NaN                 NaN
1614                      NaN                  NaN                 NaN
1921                      NaN                  NaN                 NaN
1922                      NaN                  NaN                 NaN
2244                      NaN                  NaN                 NaN
...                       ...                  ...                 ...
50922                     NaN                  NaN                 NaN
53393                     NaN                  NaN                 NaN
53394                     NaN                  NaN                 NaN
58051                     NaN                  NaN                 NaN
58052                     NaN                  NaN                 NaN

      team_wins_losses_home  pts_qtr1_home  pts_qtr2_home  ...  pts_ot2_away  \
1613                    NaN           31.0           22.0  ...           NaN
1614                    NaN           31.0           22.0  ...           NaN
1921                    NaN           22.0           22.0  ...           NaN
1922                    NaN           22.0           22.0  ...           NaN
2244                    NaN           20.0           14.0  ...           NaN
...                     ...            ...            ...  ...           ...
50922                   NaN           48.0           49.0  ...           0.0
53393                   NaN           53.0           42.0  ...           0.0
53394                   NaN           53.0           42.0  ...           0.0
58051                   NaN           46.0           46.0  ...           0.0
58052                   NaN           46.0           46.0  ...           0.0

       pts_ot3_away  pts_ot4_away  pts_ot5_away  pts_ot6_away  pts_ot7_away  \
1613            NaN           NaN           NaN           NaN           NaN
1614            NaN           NaN           NaN           NaN           NaN
1921            NaN           NaN           NaN           NaN           NaN
1922            NaN           NaN           NaN           NaN           NaN
2244            NaN           NaN           NaN           NaN           NaN
...             ...           ...           ...           ...           ...
50922           0.0           0.0           0.0           0.0           0.0
53393           0.0           0.0           0.0           0.0           0.0
53394           0.0           0.0           0.0           0.0           0.0
58051           0.0           0.0           0.0           0.0           0.0
58052           0.0           0.0           0.0           0.0           0.0

       pts_ot8_away  pts_ot9_away  pts_ot10_away  pts_away
1613            NaN           NaN            NaN      94.0
1614            NaN           NaN            NaN      94.0
1921            NaN           NaN            NaN     108.0
1922            NaN           NaN            NaN     108.0
2244            NaN           NaN            NaN      79.0
...             ...           ...            ...       ...
50922           0.0           0.0            0.0     182.0
53393           0.0           0.0            0.0     178.0
53394           0.0           0.0            0.0     178.0
58051           0.0           0.0            0.0     184.0
58052           0.0           0.0            0.0     184.0

[80 rows x 43 columns]
Duplicados eliminados.
Datos exportados exitosamente a la tabla PuntuacionDeLinea en la base de datos NBA
Clave primaria agregada exitosamente.

In [43]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
ResumenDelJuego = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\ResumenDelJuego_transformado.csv')

# Verificar y eliminar duplicados en la columna 'game_id'
if 'game_id' in ResumenDelJuego.columns:
    duplicados = ResumenDelJuego[ResumenDelJuego.duplicated(subset=['game_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'game_id':")
        print(duplicados)
        # Eliminar duplicados
        ResumenDelJuego = ResumenDelJuego.drop_duplicates(subset=['game_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'game_id' no existe en el DataFrame.")

# Asegurar que las columnas relevantes no tengan valores nulos y convertir los tipos de datos apropiados
ResumenDelJuego['game_id'] = ResumenDelJuego['game_id'].fillna('0').astype(str)
ResumenDelJuego['game_date_est'] = pd.to_datetime(ResumenDelJuego['game_date_est'], errors='coerce')

# Convertir columnas numéricas a tipo float y manejar valores nulos
numeric_columns = [
    'game_sequence', 'game_status_id', 'home_team_id', 'visitor_team_id', 'season', 'live_period',
    'live_pc_time', 'live_period_time_bcast'
]

ResumenDelJuego[numeric_columns] = ResumenDelJuego[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Convertir las columnas de texto a tipo string
categorical_columns = [
    'game_status_text', 'gamecode', 'natl_tv_broadcaster_abbreviation', 'wh_status'
]

ResumenDelJuego[categorical_columns] = ResumenDelJuego[categorical_columns].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'game_id': types.INTEGER,  # Se usará como PK
    'game_date_est': types.Date,
    'game_sequence': types.INTEGER,
    'game_status_id': types.INTEGER,
    'game_status_text': types.VARCHAR(length=50),
    'gamecode': types.VARCHAR(length=20),
    'home_team_id': types.INTEGER,
    'visitor_team_id': types.INTEGER,
    'season': types.INTEGER,
    'live_period': types.INTEGER,
    'live_pc_time': types.FLOAT,
    'natl_tv_broadcaster_abbreviation': types.VARCHAR(length=10),
    'live_period_time_bcast': types.FLOAT,
    'wh_status': types.VARCHAR(length=20)
}

# Exportar el DataFrame a una tabla SQL llamada ResumenDelJuego
ResumenDelJuego.to_sql('ResumenDelJuego', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla ResumenDelJuego en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que game_id es NOT NULL
with engine.connect() as connection:
    # Establecer game_id como NOT NULL
    connection.execute(text("""
        ALTER TABLE ResumenDelJuego
        ALTER COLUMN game_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla ResumenDelJuego
    connection.execute(text("""
        ALTER TABLE ResumenDelJuego
        ADD CONSTRAINT PK_game_id PRIMARY KEY (game_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'game_id':
             game_date_est  game_sequence   game_id  game_status_id  \
1613   1951-03-02 00:00:00            1.0  35000001               3
1614   1951-03-02 00:00:00            1.0  35000001               3
1921   1952-02-11 00:00:00            1.0  35100001               3
1922   1952-02-11 00:00:00            1.0  35100001               3
2244   1953-01-13 00:00:00            1.0  35200001               3
...                    ...            ...       ...             ...
55599           2021-03-07            1.0  32000001               3
57110           2022-11-25           14.0  22200285               3
57111           2022-11-25           14.0  22200285               3
58108           2023-02-19            1.0  32200001               3
58109           2023-02-19            1.0  32200001               3

      game_status_text  gamecode  home_team_id  visitor_team_id  season  \
1613               NaN       NaN    1610616833       1610616834    1950
1614               NaN       NaN    1610616833       1610616834    1950
1921               NaN       NaN    1610616833       1610616834    1951
1922               NaN       NaN    1610616833       1610616834    1951
2244               NaN       NaN    1610616833       1610616834    1952
...                ...       ...           ...              ...     ...
55599              NaN       NaN    1610616833       1610616834    2020
57110              NaN       NaN    1610612746       1610612743    2022
57111              NaN       NaN    1610612746       1610612743    2022
58108              NaN       NaN    1610616834       1610616833    2022
58109              NaN       NaN    1610616834       1610616833    2022

       live_period live_pc_time  natl_tv_broadcaster_abbreviation  \
1613             4          NaN                               NaN
1614             4          NaN                               NaN
1921             4          NaN                               NaN
1922             4          NaN                               NaN
2244             4          NaN                               NaN
...            ...          ...                               ...
55599            4          NaN                               NaN
57110            4          NaN                               NaN
57111            4          NaN                               NaN
58108            4          NaN                               NaN
58109            4          NaN                               NaN

       live_period_time_bcast  wh_status
1613                      NaN          1
1614                      NaN          1
1921                      NaN          1
1922                      NaN          1
2244                      NaN          1
...                       ...        ...
55599                     NaN          1
57110                     NaN          1
57111                     NaN          1
58108                     NaN          1
58109                     NaN          1

[174 rows x 14 columns]
Duplicados eliminados.
Datos exportados exitosamente a la tabla ResumenDelJuego en la base de datos NBA
Clave primaria agregada exitosamente.

In [30]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV completo
team_data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\team.csv')

# Verificar y eliminar duplicados en la columna 'id'
if 'id' in team_data.columns:
    duplicados = team_data[team_data.duplicated(subset=['id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'id':")
        print(duplicados)
        # Eliminar duplicados
        team_data = team_data.drop_duplicates(subset=['id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'id' no existe en el DataFrame.")

# Asegurar que las columnas relevantes no tengan valores nulos y convertir los tipos de datos apropiados
team_data['id'] = team_data['id'].fillna('0').astype(str)
team_data['year_founded'] = pd.to_numeric(team_data['year_founded'], errors='coerce')

# Convertir las columnas de texto a tipo string
categorical_columns = [
    'full_name', 'abbreviation', 'nickname', 'city', 'state'
]

team_data[categorical_columns] = team_data[categorical_columns].astype(str)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

# Especificar los tipos de datos para cada columna en SQL Server
dtype_sql = {
    'id': types.INTEGER,  # Se usará como PK
    'full_name': types.VARCHAR(length=100),
    'abbreviation': types.VARCHAR(length=10),
    'nickname': types.VARCHAR(length=50),
    'city': types.VARCHAR(length=50),
    'state': types.VARCHAR(length=50),
    'year_founded': types.INTEGER
}

# Exportar el DataFrame a una tabla SQL llamada team_data
team_data.to_sql('team_data', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla team_data en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que id es NOT NULL
with engine.connect() as connection:
    # Establecer id como NOT NULL
    connection.execute(text("""
        ALTER TABLE team_data
        ALTER COLUMN id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla team_data
    connection.execute(text("""
        ALTER TABLE team_data
        ADD CONSTRAINT PK_id PRIMARY KEY (id);
    """))

print("Clave primaria agregada exitosamente.")

Datos exportados exitosamente a la tabla team_data en la base de datos NBA
Clave primaria agregada exitosamente.

In [3]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV
TeamHistory = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\team_history.csv')

# Verificar y eliminar duplicados en la columna 'InventarioID'
if 'team_id' in TeamHistory.columns:
    duplicados = TeamHistory[TeamHistory.duplicated(subset=['team_id'], keep=False)]
    if not duplicados.empty:
        print("Se encontraron duplicados en la columna 'team_id':")
        print(duplicados)
        # Eliminar duplicados
        TeamHistory = TeamHistory.drop_duplicates(subset=['team_id'])
        print("Duplicados eliminados.")
else:
    print("La columna 'TeamHistory' no existe en el DataFrame.")

# Asegurar que la columna 'InventarioID' no tenga valores nulos y convertir a string
TeamHistory['team_id'].fillna('0', inplace=True)
TeamHistory['team_id'] = TeamHistory['team_id'].astype(str)
# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes')

dtype_sql = {
    'team_id': types.INTEGER,  # Identificador único del equipo
    'city': types.VARCHAR(length=255),  # Ciudad del equipo
    'nickname': types.VARCHAR(length=255),  # Apodo del equipo
    'year_founded': types.INTEGER,  # Año de fundación
    'year_active_till': types.INTEGER  # Último año activo
}
# Exportar el DataFrame a una tabla SQL llamada TeamHistory
TeamHistory.to_sql('TeamHistory', con=engine, if_exists='replace', index=False, dtype=dtype_sql)

print("Datos exportados exitosamente a la tabla TeamHistory en la base de datos NBA")

# Conectar para agregar PK y asegurarse de que InventarioID es NOT NULL
with engine.connect() as connection:
    # Establecer InventarioID como NOT NULL
    connection.execute(text("""
        ALTER TABLE TeamHistory
        ALTER COLUMN team_id INTEGER NOT NULL;
    """))
    
    # Agregar clave primaria a la tabla ComprasFinal2016
    connection.execute(text("""
        ALTER TABLE TeamHistory
        ADD CONSTRAINT PK_team_id PRIMARY KEY (team_id);
    """))

print("Clave primaria agregada exitosamente.")

Se encontraron duplicados en la columna 'team_id':
       team_id               city     nickname  year_founded  year_active_till
0   1610612737            Atlanta        Hawks          1968              2019
1   1610612737          St. Louis        Hawks          1955              1967
2   1610612737          Milwaukee        Hawks          1951              1954
3   1610612737         Tri-Cities   Blackhawks          1949              1950
7   1610612744       Golden State     Warriors          1971              2019
8   1610612744      San Francisco     Warriors          1962              1970
9   1610612744       Philadelphia     Warriors          1946              1961
10  1610612745            Houston      Rockets          1971              2019
11  1610612745          San Diego      Rockets          1967              1970
12  1610612746        Los Angeles     Clippers          1984              2019
13  1610612746          San Diego     Clippers          1978              1983
14  1610612746            Buffalo       Braves          1970              1977
15  1610612747        Los Angeles       Lakers          1960              2019
16  1610612747        Minneapolis       Lakers          1948              1959
20  1610612751           Brooklyn         Nets          2012              2019
21  1610612751         New Jersey         Nets          1977              2011
22  1610612751           New York         Nets          1976              1976
24  1610612755       Philadelphia        76ers          1963              2019
25  1610612755           Syracuse    Nationals          1949              1962
28  1610612758         Sacramento        Kings          1985              2019
29  1610612758        Kansas City        Kings          1975              1984
30  1610612758  Kansas City-Omaha        Kings          1972              1974
31  1610612758         Cincinnati       Royals          1957              1971
32  1610612758          Rochester       Royals          1948              1956
34  1610612760      Oklahoma City      Thunder          2008              2019
35  1610612760            Seattle  SuperSonics          1967              2007
37  1610612762               Utah         Jazz          1979              2019
38  1610612762        New Orleans         Jazz          1974              1978
39  1610612763            Memphis    Grizzlies          2001              2019
40  1610612763          Vancouver    Grizzlies          1995              2000
41  1610612764         Washington      Wizards          1997              2019
42  1610612764         Washington      Bullets          1974              1996
43  1610612764            Capital      Bullets          1973              1973
44  1610612764          Baltimore      Bullets          1963              1972
45  1610612764            Chicago      Zephyrs          1962              1962
46  1610612764            Chicago      Packers          1961              1961
47  1610612765            Detroit      Pistons          1957              2019
48  1610612765  Ft. Wayne Zollner      Pistons          1948              1956
49  1610612766          Charlotte      Hornets          2014              2019
50  1610612766          Charlotte      Bobcats          2004              2013
51  1610612766          Charlotte      Hornets          1988              2001
Duplicados eliminados.

C:\Users\bianc\AppData\Local\Temp\ipykernel_16720\3785977942.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  TeamHistory['team_id'].fillna('0', inplace=True)

Datos exportados exitosamente a la tabla TeamHistory en la base de datos NBA
Clave primaria agregada exitosamente.

In [21]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\common_player_info.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_updates'
data[['person_id', 'first_name']].to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar la tabla InformacionComunDelJugador usando la tabla temporal
with engine.connect() as connection:
    update_query = f"""
    UPDATE InformacionComunDelJugador
    SET InformacionComunDelJugador.first_name = temp_updates.first_name
    FROM InformacionComunDelJugador
    JOIN temp_updates ON InformacionComunDelJugador.person_id = temp_updates.person_id
    WHERE InformacionComunDelJugador.first_name IS NULL;
    """
    connection.execute(text(update_query))

print("Nombres actualizados exitosamente en la tabla InformacionComunDelJugador donde first_name es NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_updates
Nombres actualizados exitosamente en la tabla InformacionComunDelJugador donde first_name es NULL.
Tabla temporal temp_updates eliminada.

In [22]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine, types, text

# Leer el archivo CSV
data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\common_player_info.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_updates'
data.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar la tabla InformacionComunDelJugador usando la tabla temporal
with engine.connect() as connection:
    update_query = f"""
    UPDATE InformacionComunDelJugador
    SET 
        InformacionComunDelJugador.first_name = COALESCE(temp_updates.first_name, InformacionComunDelJugador.first_name),
        InformacionComunDelJugador.last_name = COALESCE(temp_updates.last_name, InformacionComunDelJugador.last_name),
        InformacionComunDelJugador.display_first_last = COALESCE(temp_updates.display_first_last, InformacionComunDelJugador.display_first_last),
        InformacionComunDelJugador.display_last_comma_first = COALESCE(temp_updates.display_last_comma_first, InformacionComunDelJugador.display_last_comma_first),
        InformacionComunDelJugador.display_fi_last = COALESCE(temp_updates.display_fi_last, InformacionComunDelJugador.display_fi_last),
        InformacionComunDelJugador.player_slug = COALESCE(temp_updates.player_slug, InformacionComunDelJugador.player_slug)
    FROM InformacionComunDelJugador
    JOIN temp_updates ON InformacionComunDelJugador.person_id = temp_updates.person_id
    WHERE InformacionComunDelJugador.first_name IS NULL
       OR InformacionComunDelJugador.last_name IS NULL
       OR InformacionComunDelJugador.display_first_last IS NULL
       OR InformacionComunDelJugador.display_last_comma_first IS NULL
       OR InformacionComunDelJugador.display_fi_last IS NULL
       OR InformacionComunDelJugador.player_slug IS NULL;
    """
    connection.execute(text(update_query))

print("Datos actualizados exitosamente en la tabla InformacionComunDelJugador donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_updates
Datos actualizados exitosamente en la tabla InformacionComunDelJugador donde los valores eran NULL.
Tabla temporal temp_updates eliminada.

In [23]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\common_player_info.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_updates'
data.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar la tabla InformacionComunDelJugador usando la tabla temporal
with engine.connect() as connection:
    columns_to_update = ['first_name', 'last_name', 'display_first_last', 'display_last_comma_first', 'display_fi_last', 'player_slug']
    for column in columns_to_update:
        update_query = f"""
        UPDATE InformacionComunDelJugador
        SET InformacionComunDelJugador.{column} = temp_updates.{column}
        FROM InformacionComunDelJugador
        JOIN temp_updates ON InformacionComunDelJugador.person_id = temp_updates.person_id
        WHERE InformacionComunDelJugador.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla InformacionComunDelJugador donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_updates
Columna first_name actualizada.
Columna last_name actualizada.
Columna display_first_last actualizada.
Columna display_last_comma_first actualizada.
Columna display_fi_last actualizada.
Columna player_slug actualizada.
Datos actualizados exitosamente en la tabla InformacionComunDelJugador donde los valores eran NULL.
Tabla temporal temp_updates eliminada.

In [24]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\common_player_info.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_updates'
data.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar la tabla InformacionComunDelJugador usando la tabla temporal
with engine.connect() as connection:
    columns_to_update = ['first_name', 'last_name', 'display_first_last', 'display_last_comma_first', 'display_fi_last', 'player_slug']
    for column in columns_to_update:
        update_query = f"""
        UPDATE InformacionComunDelJugador
        SET InformacionComunDelJugador.{column} = temp_updates.{column}
        FROM InformacionComunDelJugador
        JOIN temp_updates ON InformacionComunDelJugador.person_id = temp_updates.person_id
        WHERE InformacionComunDelJugador.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla InformacionComunDelJugador donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_updates
Columna first_name actualizada.
Columna last_name actualizada.
Columna display_first_last actualizada.
Columna display_last_comma_first actualizada.
Columna display_fi_last actualizada.
Columna player_slug actualizada.
Datos actualizados exitosamente en la tabla InformacionComunDelJugador donde los valores eran NULL.
Tabla temporal temp_updates eliminada.

In [26]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\common_player_info.csv')

# Convertir 'N'/'Y' a 0/1 para las columnas tipo bit
data['games_played_current_season_flag'] = data['games_played_current_season_flag'].map({'N': 0, 'Y': 1})
data['dleague_flag'] = data['dleague_flag'].map({'N': 0, 'Y': 1})
data['nba_flag'] = data['nba_flag'].map({'N': 0, 'Y': 1})
data['games_played_flag'] = data['games_played_flag'].map({'N': 0, 'Y': 1})
data['greatest_75_flag'] = data['greatest_75_flag'].map({'N': 0, 'Y': 1})

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_updates'
data.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar la tabla InformacionComunDelJugador usando la tabla temporal
with engine.connect() as connection:
    columns_to_update = [
        'last_name', 'display_first_last', 'display_last_comma_first', 'display_fi_last',
        'player_slug', 'school', 'country', 'last_affiliation', 'jersey', 'position',
        'rosterstatus', 'games_played_current_season_flag', 'team_name', 'team_abbreviation',
        'dleague_flag', 'nba_flag', 'games_played_flag', 'greatest_75_flag'
    ]
    for column in columns_to_update:
        update_query = f"""
        UPDATE InformacionComunDelJugador
        SET InformacionComunDelJugador.{column} = temp_updates.{column}
        FROM InformacionComunDelJugador
        JOIN temp_updates ON InformacionComunDelJugador.person_id = temp_updates.person_id
        WHERE InformacionComunDelJugador.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla InformacionComunDelJugador donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_updates
Columna last_name actualizada.
Columna display_first_last actualizada.
Columna display_last_comma_first actualizada.
Columna display_fi_last actualizada.
Columna player_slug actualizada.
Columna school actualizada.
Columna country actualizada.
Columna last_affiliation actualizada.
Columna jersey actualizada.
Columna position actualizada.
Columna rosterstatus actualizada.
Columna games_played_current_season_flag actualizada.
Columna team_name actualizada.
Columna team_abbreviation actualizada.
Columna dleague_flag actualizada.
Columna nba_flag actualizada.
Columna games_played_flag actualizada.
Columna greatest_75_flag actualizada.
Datos actualizados exitosamente en la tabla InformacionComunDelJugador donde los valores eran NULL.
Tabla temporal temp_updates eliminada.

In [45]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
draft_combine_stats = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\draft_combine_stats.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_draft_combine_stats'
draft_combine_stats.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Asumimos que las tablas tienen una columna común llamada 'player_name' para la unión
common_column = 'player_name'

# Actualizar las columnas en la tabla BorradorDeEstadsticasCombinadas usando la tabla temporal
columns_to_update = [
    'first_name', 'last_name', 'player_name', 'position', 'standing_reach_ft_in'
]

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE BorradorDeEstadsticasCombinadas
        SET BorradorDeEstadsticasCombinadas.{column} = temp_draft_combine_stats.{column}
        FROM BorradorDeEstadsticasCombinadas
        JOIN temp_draft_combine_stats ON BorradorDeEstadsticasCombinadas.{common_column} = temp_draft_combine_stats.{common_column}
        WHERE BorradorDeEstadsticasCombinadas.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla BorradorDeEstadsticasCombinadas donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_draft_combine_stats
Columna first_name actualizada.
Columna last_name actualizada.
Columna player_name actualizada.
Columna position actualizada.
Columna standing_reach_ft_in actualizada.
Datos actualizados exitosamente en la tabla BorradorDeEstadsticasCombinadas donde los valores eran NULL.
Tabla temporal temp_draft_combine_stats eliminada.

In [47]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
draft_combine_stats = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\draft_combine_stats.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_draft_combine_stats'
draft_combine_stats.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar las columnas en la tabla BorradorDeEstadsticasCombinadas usando la tabla temporal
columns_to_update = [
    'first_name', 'last_name', 'player_name', 'position', 'standing_reach_ft_in'
]

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE BorradorDeEstadsticasCombinadas
        SET BorradorDeEstadsticasCombinadas.{column} = temp_draft_combine_stats.{column}
        FROM BorradorDeEstadsticasCombinadas
        JOIN temp_draft_combine_stats ON BorradorDeEstadsticasCombinadas.player_name = temp_draft_combine_stats.player_name
        WHERE BorradorDeEstadsticasCombinadas.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla BorradorDeEstadsticasCombinadas donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_draft_combine_stats
Columna first_name actualizada.
Columna last_name actualizada.
Columna player_name actualizada.
Columna position actualizada.
Columna standing_reach_ft_in actualizada.
Datos actualizados exitosamente en la tabla BorradorDeEstadsticasCombinadas donde los valores eran NULL.
Tabla temporal temp_draft_combine_stats eliminada.

In [48]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
draft_combine_stats = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\draft_combine_stats.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_draft_combine_stats'
draft_combine_stats.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar las columnas en la tabla BorradorDeEstadsticasCombinadas usando la tabla temporal
columns_to_update = [
    'first_name', 'last_name', 'player_name', 'position', 'standing_reach_ft_in'
]

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE BorradorDeEstadsticasCombinadas
        SET BorradorDeEstadsticasCombinadas.{column} = temp_draft_combine_stats.{column}
        FROM BorradorDeEstadsticasCombinadas
        JOIN temp_draft_combine_stats ON BorradorDeEstadsticasCombinadas.player_name = temp_draft_combine_stats.player_name
        WHERE BorradorDeEstadsticasCombinadas.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla BorradorDeEstadsticasCombinadas donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_draft_combine_stats
Columna first_name actualizada.
Columna last_name actualizada.
Columna player_name actualizada.
Columna position actualizada.
Columna standing_reach_ft_in actualizada.
Datos actualizados exitosamente en la tabla BorradorDeEstadsticasCombinadas donde los valores eran NULL.
Tabla temporal temp_draft_combine_stats eliminada.

In [49]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
draft_history = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\draft_history.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_draft_history'
draft_history.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar las columnas en la tabla BorradorDeHistoria usando la tabla temporal
columns_to_update = [
    'player_name', 'draft_type', 'team_city', 'team_name', 'team_abbreviation', 'organization', 'organization_type'
]

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE BorradorDeHistoria
        SET BorradorDeHistoria.{column} = temp_draft_history.{column}
        FROM BorradorDeHistoria
        JOIN temp_draft_history ON BorradorDeHistoria.person_id = temp_draft_history.person_id
        WHERE BorradorDeHistoria.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla BorradorDeHistoria donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_draft_history
Columna player_name actualizada.
Columna draft_type actualizada.
Columna team_city actualizada.
Columna team_name actualizada.
Columna team_abbreviation actualizada.
Columna organization actualizada.
Columna organization_type actualizada.
Datos actualizados exitosamente en la tabla BorradorDeHistoria donde los valores eran NULL.
Tabla temporal temp_draft_history eliminada.

In [50]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
team_history = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\team_history.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_team_history'
team_history.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar las columnas en la tabla HistoriaDelEquipo usando la tabla temporal
columns_to_update = ['city', 'nickname']

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE HistoriaDelEquipo
        SET HistoriaDelEquipo.{column} = temp_team_history.{column}
        FROM HistoriaDelEquipo
        JOIN temp_team_history ON HistoriaDelEquipo.team_id = temp_team_history.team_id
        WHERE HistoriaDelEquipo.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla HistoriaDelEquipo donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_team_history
Columna city actualizada.
Columna nickname actualizada.
Datos actualizados exitosamente en la tabla HistoriaDelEquipo donde los valores eran NULL.
Tabla temporal temp_team_history eliminada.

In [51]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
game_data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\game.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_game'
game_data.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar las columnas en la tabla Juego usando la tabla temporal
columns_to_update = [
    'team_abbreviation_home', 'team_name_home', 'matchup_home', 'wl_home', 'fg_pct_home',
    'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away', 'fgm_away', 'fg_pct_away', 'season_type'
]

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE Juego
        SET Juego.{column} = temp_game.{column}
        FROM Juego
        JOIN temp_game ON Juego.game_id = temp_game.game_id
        WHERE Juego.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla Juego donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_game
Columna team_abbreviation_home actualizada.
Columna team_name_home actualizada.
Columna matchup_home actualizada.
Columna wl_home actualizada.
Columna fg_pct_home actualizada.
Columna team_abbreviation_away actualizada.
Columna team_name_away actualizada.
Columna matchup_away actualizada.
Columna wl_away actualizada.
Columna fgm_away actualizada.
Columna fg_pct_away actualizada.
Columna season_type actualizada.
Datos actualizados exitosamente en la tabla Juego donde los valores eran NULL.
Tabla temporal temp_game eliminada.

In [52]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
game_data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\game.csv')

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_game'
game_data.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar las columnas en la tabla Juego usando la tabla temporal
columns_to_update = [
    'team_abbreviation_home', 'team_name_home', 'matchup_home', 'wl_home', 'fg_pct_home',
    'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away', 'fgm_away', 'fg_pct_away', 'season_type'
]

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE Juego
        SET Juego.{column} = temp_game.{column}
        FROM Juego
        JOIN temp_game ON Juego.season_id = temp_game.season_id
        WHERE Juego.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla Juego donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_game
Columna team_abbreviation_home actualizada.
Columna team_name_home actualizada.
Columna matchup_home actualizada.
Columna wl_home actualizada.
Columna fg_pct_home actualizada.
Columna team_abbreviation_away actualizada.
Columna team_name_away actualizada.
Columna matchup_away actualizada.
Columna wl_away actualizada.
Columna fgm_away actualizada.
Columna fg_pct_away actualizada.
Columna season_type actualizada.
Datos actualizados exitosamente en la tabla Juego donde los valores eran NULL.
Tabla temporal temp_game eliminada.

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
game_data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\game.csv')

# Reemplazar todas las variantes de NaN con None para manejar valores NULL en SQL Server
game_data = game_data.replace(['NaN', 'nan'], None)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_game'
game_data.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar las columnas en la tabla Juego usando la tabla temporal
columns_to_update = [
    'team_abbreviation_home', 'team_name_home', 'matchup_home', 'season_type'
]

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE Juego
        SET Juego.{column} = temp_game.{column}
        FROM Juego
        JOIN temp_game ON Juego.season_id = temp_game.season_id
        WHERE Juego.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla Juego donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_game
Columna team_abbreviation_home actualizada.
Columna team_name_home actualizada.
Columna matchup_home actualizada.
Columna season_type actualizada.
Datos actualizados exitosamente en la tabla Juego donde los valores eran NULL.
Tabla temporal temp_game eliminada.

In [4]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
game_data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\game.csv')

# Reemplazar todas las variantes de NaN y nan con None para manejar valores NULL en SQL Server
game_data = game_data.replace(['NaN', 'nan'], None)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_game'
game_data.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar las columnas en la tabla Juego usando la tabla temporal
columns_to_update = [
    'team_abbreviation_home', 'team_name_home', 'matchup_home', 'season_type'
]

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE Juego
        SET Juego.{column} = temp_game.{column}
        FROM Juego
        JOIN temp_game ON Juego.season_id = temp_game.season_id
        WHERE Juego.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla Juego donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_game
Columna team_abbreviation_home actualizada.
Columna team_name_home actualizada.
Columna matchup_home actualizada.
Columna season_type actualizada.
Datos actualizados exitosamente en la tabla Juego donde los valores eran NULL.
Tabla temporal temp_game eliminada.

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Leer el archivo CSV
game_data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\game.csv')

# Reemplazar todas las variantes de NaN y nan con None para manejar valores NULL en SQL Server
game_data.replace(['NaN', 'nan'], None, inplace=True)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Leer los datos existentes en la tabla Juego
existing_data = pd.read_sql('SELECT * FROM Juego', con=engine)

# Actualizar las columnas con valores de game_data donde haya valores NaN
columns_to_update = [
    'team_abbreviation_home', 'team_name_home', 'matchup_home', 'wl_home', 'fg_pct_home',
    'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away', 'fgm_away', 'fg_pct_away', 'season_type'
]

for column in columns_to_update:
    existing_data[column].fillna(game_data[column], inplace=True)

# Subir los datos actualizados nuevamente a la tabla Juego
existing_data.to_sql('Juego', con=engine, if_exists='replace', index=False)

print("Datos actualizados exitosamente en la tabla Juego.")

C:\Users\bianc\AppData\Local\Temp\ipykernel_15124\3364620585.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  existing_data[column].fillna(game_data[column], inplace=True)

Datos actualizados exitosamente en la tabla Juego.

In [6]:
import pandas as pd
from sqlalchemy import create_engine, text

# Leer el archivo CSV
line_score_data = pd.read_csv(r'C:\Users\bianc\OneDrive\Escritorio\NBA DASHBOARD\line_score.csv')

# Reemplazar todas las variantes de NaN y nan con None para manejar valores NULL en SQL Server
line_score_data.replace(['NaN', 'nan'], None, inplace=True)

# Crear la conexión con SQL Server usando autenticación de Windows
engine = create_engine('mssql+pyodbc://BIANCA\\SQLEXPRESS/NBA?trusted_connection=yes&driver=ODBC Driver 18 for SQL Server&TrustServerCertificate=yes')

# Crear una tabla temporal en la base de datos SQL Server
temp_table_name = 'temp_line_score'
line_score_data.to_sql(temp_table_name, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla temporal {temp_table_name}")

# Actualizar las columnas en la tabla PuntuacionDeLinea usando la tabla temporal
columns_to_update = [
    'game_sequence', 'pts_qtr1_home', 'pts_qtr2_home', 'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home',
    'pts_ot2_home', 'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home', 'pts_ot7_home',
    'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home', 'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away',
    'pts_qtr4_away', 'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away', 'pts_ot5_away',
    'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away', 'pts_ot9_away', 'pts_ot10_away'
]

with engine.connect() as connection:
    for column in columns_to_update:
        update_query = f"""
        UPDATE PuntuacionDeLinea
        SET PuntuacionDeLinea.{column} = temp_line_score.{column}
        FROM PuntuacionDeLinea
        JOIN temp_line_score ON PuntuacionDeLinea.game_id = temp_line_score.game_id
        WHERE PuntuacionDeLinea.{column} IS NULL;
        """
        connection.execute(text(update_query))
        print(f"Columna {column} actualizada.")

print("Datos actualizados exitosamente en la tabla PuntuacionDeLinea donde los valores eran NULL.")

# Eliminar la tabla temporal después de la actualización
with engine.connect() as connection:
    connection.execute(text(f"DROP TABLE {temp_table_name}"))

print(f"Tabla temporal {temp_table_name} eliminada.")

Datos cargados en la tabla temporal temp_line_score
Columna game_sequence actualizada.
Columna pts_qtr1_home actualizada.
Columna pts_qtr2_home actualizada.
Columna pts_qtr3_home actualizada.
Columna pts_qtr4_home actualizada.
Columna pts_ot1_home actualizada.
Columna pts_ot2_home actualizada.
Columna pts_ot3_home actualizada.
Columna pts_ot4_home actualizada.
Columna pts_ot5_home actualizada.
Columna pts_ot6_home actualizada.
Columna pts_ot7_home actualizada.
Columna pts_ot8_home actualizada.
Columna pts_ot9_home actualizada.
Columna pts_ot10_home actualizada.
Columna pts_qtr1_away actualizada.
Columna pts_qtr2_away actualizada.
Columna pts_qtr3_away actualizada.
Columna pts_qtr4_away actualizada.
Columna pts_ot1_away actualizada.
Columna pts_ot2_away actualizada.
Columna pts_ot3_away actualizada.
Columna pts_ot4_away actualizada.
Columna pts_ot5_away actualizada.
Columna pts_ot6_away actualizada.
Columna pts_ot7_away actualizada.
Columna pts_ot8_away actualizada.
Columna pts_ot9_away actualizada.
Columna pts_ot10_away actualizada.
Datos actualizados exitosamente en la tabla PuntuacionDeLinea donde los valores eran NULL.
Tabla temporal temp_line_score eliminada.